<template>
  <div class="content">
    <!-- 输入工厂进行搜索 -->
    <div class="search-div">
      <div class="fac-name">
        <span>工厂名称:</span>
        <el-input v-model="factoryNameSearch" placeholder="请输入工厂名称" class="fac-name-input" clearable></el-input>
      </div>
      <el-button type="primary" @click="search">点击搜索</el-button>
      <el-button type="primary" @click="newFactory" class="add-btn">添加工厂</el-button>
    </div>
    <!-- 列表部分 -->
    <div class="lists">
      <el-table :data="tableData" border style="width: 100%" v-loading="loading">
        <el-table-column prop="id" label="ID" width="50" show-overflow-tooltip></el-table-column>
        <el-table-column prop="factoryName" label="工厂名称" show-overflow-tooltip width="200"></el-table-column>
        <el-table-column prop="factorySerialNo" label="工厂代码" width="200" show-overflow-tooltip></el-table-column>
        <el-table-column prop="createTime" label="创建时间" width="180" show-overflow-tooltip></el-table-column>
        <el-table-column prop="updateTime" label="修改时间" width="180" show-overflow-tooltip></el-table-column>
        <el-table-column prop="status" label="状态" width="150" show-overflow-tooltip>
          <template slot-scope="scope">
            <el-switch
              style="display: block"
              v-model="scope.row.status"
              active-color="#13ce66"
              inactive-color="#ff4949"
              active-text="开启"
              inactive-text="关闭"
              :active-value="1"
              :inactive-value="0"
              @change="handleChange(scope.$index, scope.row)"
            ></el-switch>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="120">
          <template slot-scope="scope">
            <el-button size="mini" type="text" @click="handleSee(scope.$index, scope.row)">查看</el-button>
            <el-button size="mini" type="primary" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 底部 -->
      <el-col :span="24" class="toolbar">
        <el-pagination
          layout="sizes, prev, pager, next"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :page-sizes="limitLists"
          :page-size="limit"
          :total="total"
          style="float:right;"
        ></el-pagination>
      </el-col>
    </div>
    <!-- 查看，编辑,添加工厂 -->
    <el-dialog :title="title" :visible.sync="showAlert" width="70%">
      <div class="alert-content">
        <div>
          <div class="fac-name">
            <span>工厂名称:</span>
            <el-input
              v-model="factoryName"
              placeholder="请输入工厂名称"
              class="fac-name-input"
              clearable
              :readonly="readonly"
            ></el-input>
          </div>
          <div class="fac-name">
            <span>服务名称:</span>
            <el-input
              v-model="serviceName"
              placeholder="请输入服务名称"
              class="fac-name-input"
              clearable
              :readonly="readonly"
            ></el-input>
          </div>
        </div>
        <div>
          <div class="fac-name">
            <span>业务中间件:</span>
            <el-input
              v-model="businessMiddleware"
              placeholder="请输入业务中间件"
              class="fac-name-input"
              clearable
              :readonly="readonly"
            ></el-input>
          </div>
          <div class="fac-name">
            <span>微信中间件:</span>
            <el-input
              v-model="wechatMiddleware"
              placeholder="请输入微信中间件"
              class="fac-name-input"
              clearable
              :readonly="readonly"
            ></el-input>
          </div>
        </div>
        <div>
          <div class="fac-name">
            <span>工厂代码:</span>
            <el-input
              v-model="factoryNum"
              placeholder="请输入工厂代码"
              class="fac-name-input"
              clearable
              :readonly="readonly"
            ></el-input>
          </div>
          <div class="fac-name">
            <span>是否开启:</span>
            <el-switch
              style="display: block"
              v-model="value2"
              active-color="#13ce66"
              inactive-color="#ff4949"
              active-text="开启"
              inactive-text="关闭"
              :active-value="1"
              :inactive-value="0"
              :disabled="readonly"
            ></el-switch>
          </div>
        </div>
      </div>
      <span slot="footer">
        <el-button @click="showAlert= false">取 消</el-button>
        <el-button type="primary" @click="handleSure">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { factoryList,factoryGetById,factoryUpdate,factoryUpdateStatus } from "../../request/api";
export default {
  data() {
    return {
      showAlert: false,
      readonly: false, //只读
      title: "",
      btnStatus: "", //1是查看,2是编辑,3是添加工厂
      loading: false,
      factoryNameSearch: "", //工厂名称
      limitLists: [20, 50, 100, 200, 300, 500],
      total: 0, //总页数
      limit: 20, //每页20条
      currentPage: 1, //当前页
      tableData: [],
      factoryName: "",
      serviceName: "",
      businessMiddleware: "",
      wechatMiddleware: "",
      factoryNum: "",
      value2: 1,
      id:'',//工厂id
    };
  },
  activated() {
    this.getList("", 0);
  },
  methods: {
    getList(name, p) {
      factoryList({
        factoryName: name,
        offset: p,
        limit: this.limit
      })
        .then(res => {
          if (res.data.ret == 1) {
            this.tableData = res.data.data.datas;
            this.total = res.data.data.totalCount;
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.$message.error("获取工厂列表错误,请稍后重试");
        });
    },
    search() {
      this.getList(this.factoryNameSearch, 0);
    },
    handleCurrentChange(val) {
      let that = this;
      that.currentPage = val;
      that.tableData = [];
      that.getList(this.factoryNameSearch,(val - 1) * that.limit);
    },
    handleSizeChange(val) {
      this.limit = val;
      this.getList(this.factoryNameSearch,(this.currentPage - 1) * this.limit);
    },
    handleChange(i,row) {
      console.log(row.id)
      console.log(row.status)
      let a = [];
      a.push(row.id);
      console.log(a);
      let opt;
      row.status==1?opt='valid':opt='invalid';
      console.log(opt)
      factoryUpdateStatus({
        longList:a,
        opt:opt
      }).then(res=>{
        if(res.data.ret==1){
          this.$message.success('修改工厂状态成功');
          this.getList(this.factoryNameSearch,(this.currentPage - 1) * this.limit);
        }else{
          this.$message.error(res.data.msg);
          this.getList(this.factoryNameSearch,(this.currentPage - 1) * this.limit);
        }
      }).catch(err=>{
        this.$message.error('修改工厂状态失败,请稍后再试');
      })
    },
    newFactory() {
      this.title = "添加工厂";
      this.showAlert = true;
      this.btnStatus = '3';
      this.readonly = false;
      this.factoryName='';
      this.serviceName='';
      this.businessMiddleware='';
      this.wechatMiddleware='';
      this.factoryNum='';
      this.id='';
      this.value2=1;
    },
    handleSee(i,row) {
      this.title = "查看工厂信息";
      this.showAlert = true;
      this.readonly = true;
      this.getInfo(row.id);
      this.btnStatus = '1';
    },
    getInfo(id){
        factoryGetById({
          id:id
      }).then(res=>{
          if(res.data.ret==1){
              this.factoryName = res.data.data.factoryName;
              this.serviceName = res.data.data.serviceName;
              this.businessMiddleware = res.data.data.serviceUrl;
              this.wechatMiddleware = res.data.data.wechatMitUrl;
              this.factoryNum = res.data.data.factorySerialNo;
              this.value2 = res.data.data.status;
          }else{
              this.$message.error(res.data.msg)
          }
      }).catch(err=>{
          this.$message.error('查看工厂信息错误,请稍后重试')
      })
    },
    handleEdit(i,row) {
      this.title = "修改工厂信息";
      this.showAlert = true;
      this.readonly = false;
      this.getInfo(row.id);
      this.id = row.id;
      this.btnStatus = '2';
    },
    handleSure() {
        if(this.btnStatus=='1'){
            this.showAlert = false;
        }else if(this.btnStatus=='2'||this.btnStatus=='3'){
            this.updateInfo();
        }
    },
    updateInfo(){
       if(!this.factoryName){
           this.$message.error('请输入工厂名称')
           return false
       } 
       if(!this.serviceName){
           this.$message.error('请输入服务名称')
           return false
       }
       if(!this.businessMiddleware){
           this.$message.error('请输入业务中间件名称')
           return false
       }
       if(!this.wechatMiddleware){
           this.$message.error('请输入微信中间件名称')
           return false
       }
       if(!this.factoryNum){
           this.$message.error('请输入工厂代码')
           return false
       }
       factoryUpdate({
           id:this.id,
           factoryName:this.factoryName,
           serviceUrl:this.businessMiddleware,
           wechatMitUrl:this.wechatMiddleware,
           serviceName:this.serviceName,
           factorySerialNo:this.factoryNum,
           status:this.value2 
       }).then(res=>{
           if(res.data.ret==1){
               this.$message.success(this.btnStatus=='2'?'修改成功':'添加成功');
               this.showAlert = false;
               this.getList(this.factoryNameSearch,(this.currentPage - 1) * this.limit);
           }else{
               this.$message.error(res.data.msg);
           }
       }).catch(err=>{
           this.$message.error(this.btnStatus=='2'?'修改工厂信息失败,请稍后重试':'添加工厂信息失败,请稍后重试');
       })
    }
  }
};
</script>
<style scoped src="../../css/systemManage/factoryManage.css">
</style>