<template>
    <div>
        这里是权限管理页面       
    </div>
</template>
<script>
export default {
    data(){
        return{

        }
    },
    created() {
        
    },
    methods: {
        
    }
}
</script>
<style scoped src="../../css/systemManage/jurisdictionManage.css">
    
</style>