<template>
  <div class="content">
    <div class="notice-area">
      <div class="notice-area-title">
        <span></span>
        <span>新增公告</span>
      </div>
      <!-- 公告名称 -->
      <div class="notice-name">
        <span class="title">公告名称:</span>
        <el-input v-model="noticeName" placeholder="请输入公告名称" class="notice-name-input" clearable></el-input>
      </div>
      <!-- 公告内容 -->
      <div class="notice-content">
        <span class="title">公告内容:</span>
        <el-input
          type="textarea"
          :rows="5"
          placeholder="请输入公告内容"
          v-model="noticeContent"
          class="notice-name-input"
           maxlength="240"
          show-word-limit
        ></el-input>
      </div>
      <!-- 发布人 -->
      <div class="notice-name">
        <span class="title user-name">发布人:</span>
        <el-input v-model="noticeUser" placeholder="请输入发布人姓名" class="notice-name-input" clearable></el-input>
      </div>
      <!-- 发布时间 -->
      <!-- <div class="notice-name">
        <span class="title">发布时间:</span>
        <el-date-picker
          v-model="noticeTime"
          type="datetime"
          placeholder="请选择发布日期时间"
          class="notice-name-input"
          :picker-options="pickerOptions"
          value-format="yyyy-MM-dd HH:mm"
          format="yyyy-MM-dd HH:mm"
        ></el-date-picker>
      </div>-->
      <!-- 按钮 -->
      <div class="handle-btns">
        <el-button type="primary" size="medium" @click="releaseInfo" class="submit-btn" v-if="userPermissionList.indexOf('notice_publish')>-1">发布</el-button>
        <el-button type="primary" size="medium" @click="draugth" v-if="userPermissionList.indexOf('notice_insert')>-1">存草稿</el-button>
        <el-button type="info" size="medium" @click="deleteInfo">取消</el-button>
      </div>
    </div>
    <div class="notice-list">
      <div class="notice-area-title">
        <span></span>
        <span>公告列表</span>
      </div>
      <div class="notice-list-area">
        <el-table
          :data="tableData"
          border
          style="width: 100%"
          v-loading="loading"
          @selection-change="handleSelectionChange"
        >
          <el-table-column type="selection" width="55"></el-table-column>
          <el-table-column prop="content" label="公告内容" width="330" show-overflow-tooltip></el-table-column>
          <el-table-column prop="createTime" label="创建时间" width="100" show-overflow-tooltip></el-table-column>
          <el-table-column prop="status" label="状态" width="70" show-overflow-tooltip :formatter="statusFormat"></el-table-column>
          <el-table-column label="操作" width="200">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="primary"
                @click="handleEdit(scope.$index, scope.row)"
                icon="el-icon-edit"
                v-if="userPermissionList.indexOf('notice_edit')>-1"
              >编辑</el-button>
              <el-button
                size="mini"
                type="danger"
                @click="handleDelete(scope.$index, scope.row)"
                icon="el-icon-delete"
                v-if="userPermissionList.indexOf('notice_del')>-1"
              >删除</el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- 底部 -->
        <el-col :span="24" class="toolbar">
          <div class="btns">
            <el-button
              type="primary"
              size="small"
              @click="release"
              :disabled="multipleSelection==''"
              v-if="userPermissionList.indexOf('notice_publish')>-1"
            >发布</el-button>
            <el-button
              type="info"
              size="small"
              @click="deletes"
              :disabled="multipleSelection==''"
              v-if="userPermissionList.indexOf('notice_del')>-1"
            >删除</el-button>
          </div>
          <el-pagination
            layout="sizes, prev, pager, next"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :page-sizes="limitLists"
            :page-size="limit"
            :total="total"
          ></el-pagination>
        </el-col>
      </div>
    </div>
    <!-- 弹窗编辑区域 -->
    <div>
      <el-dialog title="编辑" :visible.sync="showAlert" width="40%" :before-close="handleClose">
        <div class="notice-name edit-notice-name">
          <span class="title">公告名称:</span>
          <el-input
            v-model="editNoticeName"
            placeholder="请输入公告名称"
            class="notice-name-input"
            clearable
          ></el-input>
        </div>
        <!-- 公告内容 -->
        <div class="notice-content">
          <span class="title">公告内容:</span>
          <el-input
            type="textarea"
            :rows="5"
            placeholder="请输入公告内容"
            v-model="editNoticeContent"
            class="notice-name-input"
             maxlength="240"
             show-word-limit
          ></el-input>
        </div>
        <!-- 发布人 -->
        <div class="notice-name">
          <span class="title user-name">发布人:</span>
          <el-input
            v-model="editNoticeUser"
            placeholder="请输入发布人姓名"
            class="notice-name-input"
            clearable
          ></el-input>
        </div>
        <!-- 发布时间 -->
        <!-- <div class="notice-name">
        <span class="title">发布时间:</span>
        <el-date-picker
          v-model="editNoticeTime"
          type="datetime"
          placeholder="请选择发布日期时间"
          class="notice-name-input"
          :picker-options="pickerOptions"
          value-format="yyyy-MM-dd HH:mm"
          format="yyyy-MM-dd HH:mm"
        ></el-date-picker>
        </div>-->
        <span slot="footer">
          <el-button type="primary" size="medium" @click="submitEdit" class="submit-btn">发布</el-button>
          <el-button type="primary" size="medium" @click="draugthEdit">存草稿</el-button>
          <el-button type="info" size="medium" @click="showAlert = false">取消</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>
<script>
import {
  saveNotice,
  delNotice,
  editNotice,
  pubNotice,
  noticePager,
  getUserPermissionCode
} from "../../request/api";
export default {
  data() {
    return {
      showAlert: false,
      multipleSelection: [], //多选值
      loading: false,
      noticeName: "", //公告名称
      noticeContent: "", //公告内容
      noticeUser: "", //发布人
      noticeTime: "", // 发布时间
      editNoticeName: "", //编辑名称
      editNoticeContent: "", //编辑内容
      editNoticeUser: "", //编辑发布人
      editNoticeTime: "", //编辑时间
      id:"",//编辑的id
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() < Date.now() - 8.64e7;
        }
      },
      tableData: [],
      total: 0, //总页数
      limit: 20, //每页20条
      currentPage:1,
      limitLists: [20, 50, 100, 200, 300, 500],
      userPermissionList:[] //权限数组
    };
  },
  activated() {
    this.getList(0);
    this.getUserPermission();
  },
  methods: {
    getUserPermission(){
      getUserPermissionCode({
        sort:11      
      }).then(res=>{
        if(res.data.ret==1){
          this.userPermissionList = res.data.data;
        }else{
          this.$message.error(res.data.msg);
        }
      }).catch(err=>{
        this.$message.error('获取页面权限详情失败,请稍后重试');
      })
    },
    getList(p) {
      this.loading = true;
      noticePager({
        offset: p,
        limit: this.limit
      })
        .then(res => {
          this.loading = false;
          if (res.data.ret == 1) {
            this.tableData = res.data.data.datas;
            this.total = res.data.data.totalCount;
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.loading = false;
          this.$message.error("公告列表获取失败,请稍后重试");
        });
    },
    statusFormat(row, column){
      if(row.status==1){
        return '已发布'
      }else{
        return '未发布'
      }
    },
    handleEdit(i,row) {
      this.editNoticeName = row.title;
      this.editNoticeContent = row.content;
      this.editNoticeUser = row.author;
      this.showAlert = true;
      this.id = row.id;
    },
    submitEdit(){
      if (!this.editNoticeName) {
        this.$message.error("请输入公告名称");
        return;
      }
      if (!this.editNoticeContent) {
        this.$message.error("请输入公告内容");
        return;
      }
      if (!this.editNoticeUser) {
        this.$message.error("请输入发布人");
        return;
      }
      editNotice({
        title: this.editNoticeName,
        content: this.editNoticeContent,
        author: this.editNoticeUser,
        status: "1",
        id:this.id
      }).then(res=>{
        if (res.data.ret == 1) {
            this.$message.success("编辑成功并且已发布");
            this.showAlert = false;
            this.tableData = [];
            this.getList(0);
          } else {
            this.showAlert = false;
            this.$message.error(res.data.msg);
          }
      }).catch(err=>{
        this.showAlert = false;
        this.$message.error("编辑失败,请稍后重试");
      })
    },
    draugthEdit(){
      if (!this.editNoticeName) {
        this.$message.error("请输入公告名称");
        return;
      }
      if (!this.editNoticeContent) {
        this.$message.error("请输入公告内容");
        return;
      }
      if (!this.editNoticeUser) {
        this.$message.error("请输入发布人");
        return;
      }
      editNotice({
        title: this.editNoticeName,
        content: this.editNoticeContent,
        author: this.editNoticeUser,
        status: "0",
        id:this.id
      }).then(res=>{
        if (res.data.ret == 1) {
            this.$message.success("编辑成功并且已存草稿");
            this.showAlert = false;
            this.tableData = [];
            this.getList(0);
          } else {
            this.showAlert = false;
            this.$message.error(res.data.msg);
          }
      }).catch(err=>{
        this.showAlert = false;
        this.$message.error("编辑失败,请稍后重试");
      })
    },
    handleDelete(i, row) {
      console.log(i, row);
      this.$confirm("确认要删除公告么?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          delNotice({
            longList: row.id
          })
            .then(res => {
              if(res.data.ret==1){
                this.$message.success('删除成功');
                this.tableData = [];
                this.getList(0);
              }else{
                this.$message.error(res.data.msg)
              }
            })
            .catch(err => {
              this.$message.error('删除失败,请稍后重试')
            });
        })
        .catch(() => {
          // this.$message({
          //   type: 'info',
          //   message: '已取消删除'
          // });
        });
    },
    handleCurrentChange(val) {
      let that = this;
      that.currentPage = val;
      that.tableData = [];
      that.getList((val - 1) * that.limit);
    },
    handleSizeChange(val) {
      this.limit = val;
      this.getList((this.currentPage - 1) * this.limit);
    },
    handleSelectionChange(val) {
      let ids = [];
      val.map(i=>{
        ids.push(i.id)
      })
      this.multipleSelection = ids;
    },
    handleClose(done) {
      this.$confirm("确认关闭？")
        .then(_ => {
          done();
        })
        .catch(_ => {});
    },
    release() {
      if(this.multipleSelection.length>1){
        this.$message.error('目前只支持单条发布')
        return
      }
      pubNotice({
        status:"1",
        id:this.multipleSelection[0]
      }).then(res => {
          if (res.data.ret == 1) {
            this.$message.success("发布成功");
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.$message.error("发布失败,请稍后重试");
        });
    },
    deletes() {
      delNotice({
            longList: this.multipleSelection
          })
            .then(res => {
              if(res.data.ret==1){
                this.$message.success('删除成功');
                this.tableData = [];
                this.getList(0);
              }else{
                this.$message.error(res.data.msg)
              }
            })
            .catch(err => {
              this.$message.error('删除失败,请稍后重试')
            });
    },
    releaseInfo() {
      if (!this.noticeName) {
        this.$message.error("请输入公告名称");
        return;
      }
      if (!this.noticeContent) {
        this.$message.error("请输入公告内容");
        return;
      }
      if (!this.noticeUser) {
        this.$message.error("请输入发布人");
        return;
      }
      saveNotice({
        title: this.noticeName,
        content: this.noticeContent,
        author: this.noticeUser,
        status: "1"
      })
        .then(res => {
          if (res.data.ret == 1) {
            this.$message.success("发布成功");
            this.clearInfo();
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.$message.error("发布失败,请稍后重试");
        });
    },
    draugth() {
      if (!this.noticeName) {
        this.$message.error("请输入公告名称");
        return;
      }
      if (!this.noticeContent) {
        this.$message.error("请输入公告内容");
        return;
      }
      if (!this.noticeUser) {
        this.$message.error("请输入发布人");
        return;
      }
      saveNotice({
        title: this.noticeName,
        content: this.noticeContent,
        author: this.noticeUser,
        status: "0"
      })
        .then(res => {
          if (res.data.ret == 1) {
            this.$message.success("存草稿成功");
            this.clearInfo();
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.$message.error("存草稿失败,请稍后重试");
        });
    },
    //发布或者存草稿之后清空输入刷新列表
    clearInfo(){
      this.noticeName = "";
      this.noticeContent = "";
      this.noticeUser = "";
      this.getList(0);
    },
    deleteInfo() {
      this.$confirm("此操作将清空已输入信息, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.noticeName = "";
          this.noticeContent = "";
          this.noticeUser = "";
          this.$message({
            type: "info",
            message: "已清空输入信息"
          });
        })
        .catch(() => {
          // this.$message({
          //   type: 'info',
          //   message: '已取消删除'
          // });
        });
    },
  }
};
</script>
<style scoped src="../../css/systemManage/noticeManage.css">
</style>