<template>
  <div class="content">
    <div class="role-area">
      <div class="role-area-title">
        <span></span>
        <span>创建角色</span>
      </div>
      <div class="role-name">
        <span class="title">角色名称:</span>
        <el-input v-model="name" placeholder="请输入角色名称" class="role-name-input" clearable></el-input>
      </div>
      <div class="role-name">
        <span class="title">角色备注:</span>
        <el-input v-model="remark" placeholder="请输入角色备注" class="role-name-input" clearable></el-input>
      </div>
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>菜单权限</span>
          <el-button style="float: right; " type="primary" @click="getCheckedKeys" v-if="userPermissionList.indexOf('role_insert')>-1">确认添加</el-button>
        </div>
        <div class="text item">
          <el-tree
            :data="dataTree"
            show-checkbox
            node-key="id"
            ref="tree"
            highlight-current
            :props="defaultProps"
          ></el-tree>
        </div>
      </el-card>
    </div>
    <!-- 列表区域 -->
    <div class="role-lists-area">
      <div class="role-area-title">
        <span></span>
        <span>角色列表</span>
      </div>
      <el-table :data="tableData" style="width: 100%" border v-loading="loading" class="table-area" :row-class-name="tableRowClassName">
        <el-table-column type="index" width="50" label="序号"></el-table-column>
        <el-table-column prop="roleName" label="角色名称" width="100" show-overflow-tooltip></el-table-column>
        <el-table-column prop="userCount" label="使用人数" width="100" show-overflow-tooltip></el-table-column>
        <el-table-column prop="createTime" label="创建时间" width="120" show-overflow-tooltip></el-table-column>
        <el-table-column label="角色权限" width="120" show-overflow-tooltip>
          <template slot-scope="scope">
            <el-button size="mini" @click="handleDetail(scope.$index, scope.row)" type="text">查看详情</el-button>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="200" show-overflow-tooltip>
          <template slot-scope="scope">
            <el-button
              size="mini"
              @click="handleEdit(scope.$index, scope.row)"
              type="primary"
              :disabled="!scope.row.status"
              v-if="userPermissionList.indexOf('role_conf_permission')>-1"
            >修改权限</el-button>
            <el-button
              size="mini"
              @click="handleStop(scope.$index, scope.row)"
              type="danger"
              :disabled="!scope.row.status"
              v-if="userPermissionList.indexOf('role_disable')>-1"
            >停用角色</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 底部 -->
      <el-col :span="24" class="toolbar">
        <el-pagination
          layout="sizes, prev, pager, next"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :page-sizes="limitLists"
          :page-size="limit"
          :total="total"
          style="float:right;"
        ></el-pagination>
      </el-col>
    </div>

    <!-- 权限详情弹窗 -->
    <el-dialog
      :title="roleName+'权限详情'"
      :visible.sync="showDetail"
      width="25%"
      :before-close="handleCloseDetail"
    >
      <div>
        <el-tree
          :data="detailTree"
          node-key="id"
          ref="detail"
          highlight-current
          :props="defaultProps"
        ></el-tree>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDetail = false">取 消</el-button>
        <el-button type="primary" @click="showDetail = false">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 修改权限弹窗 -->
    <el-dialog
      :title="'修改'+roleName+'权限'"
      :visible.sync="showEdit"
      width="25%"
      class="edit-div"
      :before-close="handleCloseEdit"
      v-loading.target="'edit-div'"
    >
      <div>
        <el-tree
          :data="dataTree"
          show-checkbox
          node-key="id"
          ref="edit"
          highlight-current
          :props="defaultProps"
        ></el-tree>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showEdit = false">取 消</el-button>
        <el-button type="primary" @click="confirmEdit">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import {
  permissionTree,
  rolePage,
  insertAndConfRole,
  prohibitRole,
  getRolePermission,
  getUserPermissionTree,
  checkRoleName,
  batchConfRolePermission,
  getUserPermissionCode
} from "../../request/api";
export default {
  data() {
    return {
      loading: false,
      showDetail: false, //权限详情弹窗
      showEdit: false, //修改权限弹窗
      name: "",
      remark: "",
      total: 0, //总页数
      limit: 20, //每页20条
      currentPage: 1,
      limitLists: [20, 50, 100, 200, 300, 500],
      selectedIds: [], //选中id
      selEditIds: [], //修改权限选中id
      roleId: "", //所选中的角色权限id
      roleName: "", //角色名称
      dataTree: [],
      detailTree: [],
      defaultProps: {
        children: "children",
        label: "name"
      },
      tableData: [],
      userPermissionList:[] //权限数组
    };
  },
  activated() {
    this.getTreeList();
    this.getRoleList(0);
    this.getUserPermission();
  },
  methods: {
    getUserPermission(){
      getUserPermissionCode({
        sort:12      
      }).then(res=>{
        if(res.data.ret==1){
          this.userPermissionList = res.data.data;
        }else{
          this.$message.error(res.data.msg);
        }
      }).catch(err=>{
        this.$message.error('获取页面权限详情失败,请稍后重试');
      })
    },
    getRoleList(p) {
      this.loading = true;
      rolePage({
        offset: p,
        limit: this.limit
      })
        .then(res => {
          this.loading = false;
          if (res.data.ret == 1) {
            this.tableData = res.data.data.datas;
            this.total = res.data.data.totalCount;
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.loading = false;
          this.$message.error("角色列表获取错误,请稍后再试");
        });
    },
    getTreeList() {
      permissionTree({})
        .then(res => {
          if (res.data.ret == 1) {
            this.dataTree = res.data.data;
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.$message.error("获取菜单权限失败,请稍后重试");
        });
    },
    //获取选中菜单的id
    getCheckedKeys() {
      let a = [];
      let b = this.$refs.tree.getHalfCheckedKeys();
      let c = this.$refs.tree.getCheckedKeys();
      this.selectedIds = a.concat(b).concat(c);
      if (!this.name) {
        this.$message.error("请输入角色名称");
        return;
      }
      checkRoleName({
        rolename: this.name
      })
        .then(res => {
          if (res.data.ret == 1) {
            this.addRole();
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {});
    },
    addRole() {
      insertAndConfRole({
        name: this.name,
        description: this.remark,
        longList: this.selectedIds
      })
        .then(res => {
          if (res.data.ret == 1) {
            this.$message.success("添加角色成功");
            this.name = "";
            this.remark = "";
            this.$refs.tree.setCheckedKeys([]);
            this.getRoleList(0);
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.$message.success("添加角色失败,请稍后再试");
        });
    },
    //查看权限详情
    handleDetail(i, row) {
      this.showDetail = true;
      this.roleName = row.roleName;
      getUserPermissionTree({
        roleId: row.id
      })
        .then(res => {
          if (res.data.ret == 1) {
            this.detailTree = res.data.data;
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.$message.error("获取用户权限详情失败,请稍后重试");
        });
    },
    handleCloseDetail(done) {
      this.$confirm("确认关闭?")
        .then(_ => {
          done();
        })
        .catch(_ => {});
    },
    //修改权限
    handleEdit(i, row) {
      this.roleId = row.id;
      this.roleName = row.roleName;
      getRolePermission({
        roleId: row.id
      })
        .then(res => {
          if (res.data.ret == 1) {
            this.showEdit = true;
            setTimeout(() => {
              this.$refs.edit.setCheckedKeys(res.data.data);
            }, 100);
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          console.log(err);
          // this.$message.error('获取已有权限失败,请稍后重试')
        });
    },
    handleCloseEdit(done) {
      this.$confirm("确认关闭?")
        .then(_ => {
          done();
        })
        .catch(_ => {});
    },
    //停止权限
    handleStop(i, row) {
      this.$confirm("确认要停用角色?", "提示")
        .then(_ => {
          prohibitRole({
            id: row.id
          })
            .then(res => {
              if (res.data.ret == 1) {
                this.$message.success("角色停用成功");
                this.tableData = [];
                this.getRoleList(0);
              } else {
                this.$message.error(res.data.msg);
              }
            })
            .catch(err => {
              this.$message.error("角色停用失败,请稍后再试");
            });
        })
        .catch(_ => {});
    },
    //确认修改权限
    confirmEdit() {
      let a = [];
      let b = this.$refs.edit.getHalfCheckedKeys();
      let c = this.$refs.edit.getCheckedKeys();
      this.selEditIds = a.concat(b).concat(c);
      console.log(this.selEditIds);
      batchConfRolePermission({
        roleId: this.roleId,
        longList: this.selEditIds
      })
        .then(res => {
          if (res.data.ret == 1) {
            this.showEdit = false;
            this.$message.success("修改权限成功");
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.$message.error("修改权限失败,请稍后再试");
        });
    },
    handleCurrentChange(val) {
      let that = this;
      that.currentPage = val;
      that.tableData = [];
      that.getRoleList((val - 1) * that.limit);
    },
    handleSizeChange(val) {
      this.limit = val;
      this.getRoleList((this.currentPage - 1) * this.limit);
    },
    tableRowClassName({row, rowIndex}) {
        if(row.status==0){
           return 'disabled-row';
        }
    }
  }
};
</script>
<style scoped src="../../css/systemManage/roleManage.css">
</style>