<template>
  <div class="content">
    <!-- 子菜单 -->
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
      <el-menu-item index="1">账号列表</el-menu-item>
      <el-menu-item index="2">账号设置</el-menu-item>
      <el-menu-item index="4">新增用户</el-menu-item>
      <el-menu-item index="3" disabled>配置角色</el-menu-item>
    </el-menu>
    <!-- 三个对应的内容模块 -->
    <div class="boxOne" v-show="boxThreeShow">
      <!-- 内容模块的名字 -->
      <div class="boxName">
        <div class="bacColor"></div>
        <p>配置角色</p>
      </div>
      <!-- 输入模块 -->
      <div class="boxOne_one">
        <el-input class="accountInput" v-model="account" :disabled="true" placeholder="请输入账号"></el-input>
        <el-select filterable class="roleSelect" v-model="roleId" placeholder="请选择角色">
          <el-option
                  v-for="item in rolePageData"
                  :key="item.id"
                  :label="item.roleName"
                  :value="item.id">
          </el-option>
        </el-select>
        <el-input class="descTextarea" type="textarea" v-model="desc" placeholder="输入备注信息"></el-input>
        <el-row class="row">
          <el-button class="btn" type="primary" @click="okBtn()">提交</el-button>
          <el-button class="btn" type="info">取消</el-button>
        </el-row>
      </div>
      <!-- 操作说明 -->
      <div class="boxOne_two">
        <p class="boxOne_two_name">操作说明：</p>
        <p class="boxOne_two_text">1：在左侧第二栏中选择一个角色（注：角色选择请慎重，如果现有角色权限不能满足需求，请先到添加角色页面添加角色，再行配置）；</p>
        <p class="boxOne_two_text">2：在左侧第三栏中输入备注信息，备注信息是选填项目；</p>
        <p class="boxOne_two_text">3：点击提交按钮出现弹窗提醒后，完成角色配置；</p>
        <p class="boxOne_two_text">注：角色配置完成后该账户拥有该角色的配置权限，权限使用中角色不可变动，请谨慎配置。</p>
      </div>
    </div>

    <!--    -->
    <div class="boxTwo" v-show="boxTwoShow">
      <!-- 内容模块的名字 -->
      <div class="boxName">
        <div class="bacColor"></div>
        <p>账号设置</p>
      </div>
      <el-select filterable class="boxTwo_roleSelect" v-model="selectValue" placeholder="请选择角色">
        <el-option
                v-for="item in rolePageData"
                :key="item.id"
                :label="item.roleName"
                :value="item.id">
        </el-option>
      </el-select>
      <el-input class="boxTwo_accountInput" v-model="account"  placeholder="请输入账号"></el-input>
      <el-button class="boxTwo_btn" type="primary" >点击查询</el-button>

      <div class="boxTwo_table">
        <el-table :data="userPageData" border style="width: 100%">
          <el-table-column fixed prop="realName" label="使用人"></el-table-column>
          <el-table-column fixed prop="mobile" label="联系方式" ></el-table-column>
          <el-table-column fixed prop="username" label="账号"></el-table-column>
          <el-table-column fixed prop="roleName" label="角色"></el-table-column>
          <el-table-column fixed label="操作">
            <template slot-scope="scope">
              <el-button type="text" size="small" @click="resetRole(scope.row)" v-if="userPermissionList.indexOf('user_conf_role')>-1">重置角色</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div style="height: 30px"></div>
    </div>
<!--    3      -->
    <div class="boxThree" v-show="boxOneShow">
      <!-- 内容模块的名字 -->
      <div class="boxName">
        <div class="bacColor"></div>
        <p>账号列表</p>
      </div>

      <div class="boxTwo_table">
        <el-table :data="userPageData" border style="width: 100%">
          <el-table-column fixed prop="realName" label="使用人"></el-table-column>
          <el-table-column fixed prop="mobile" label="联系方式" ></el-table-column>
          <el-table-column fixed prop="username" label="账号"></el-table-column>
          <el-table-column fixed prop="roleName" label="角色"></el-table-column>
          <el-table-column fixed label="操作" >
            <template slot-scope="scope">
              <el-button @click="handleClick(scope.row)" type="text" size="small" v-if="userPermissionList.indexOf('user_edit')>-1">修改信息</el-button>
              <el-button type="text" size="small" @click="reset(scope.row)" v-if="userPermissionList.indexOf('user_reset_password')>-1">重置密码</el-button>
            </template>
          </el-table-column>
        </el-table>

        <div style="height: 30px"></div>
      </div>
      <!-- 修改用户信息 -->
      <el-dialog title="修改用户信息" :visible.sync="passwords" width="30%">
        <div class="passwordBox">
          <div class="password_line">
            <p>用户名 </p>
            <el-input class="password_input" v-model="username"  :disabled="true" placeholder="请输入用户名"></el-input>
          </div>
          <div class="password_line">
            <p>手机号 </p>
            <el-input class="password_input" v-model="mobile" placeholder="请输入手机号"></el-input>
          </div>
          <div class="password_line">
            <p>姓　名 </p>
            <el-input class="password_input" v-model="realName" placeholder="请输入姓名"></el-input>
          </div>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="passwords = false">取 消</el-button>
          <el-button type="primary" @click="editRoleInfo()">确 定</el-button>
        </span>
      </el-dialog>
    </div>

    <!--  第四模块  -->
    <div class="boxFour" v-show="boxFourShow">
      <!-- 内容模块的名字 -->
      <div class="passwordBox">
        <div class="boxName">
          <div class="bacColor"></div>
          <p>新增用户</p>
        </div>
        <div class="password_lines">
          <p>账号</p>
          <el-input class="password_inputs" v-model="username" placeholder="请输入账号"></el-input>
        </div>
        <div class="password_lines">
          <p>姓名</p>
          <el-input class="password_inputs" v-model="realName" placeholder="请输入真实姓名"></el-input>
        </div>
        <div class="password_lines">
          <p>电话</p>
          <el-input class="password_inputs" v-model="mobile" placeholder="请输入电话"></el-input>
        </div>
        <div class="password_lines">
          <p>邮箱</p>
          <el-input class="password_inputs" v-model="email" placeholder="请输入邮箱"></el-input>
        </div>
        <div class="password_lines">
          <p>工厂</p>
          <el-select class="password_inputs" v-model="factoryValue" placeholder="请选择工厂">
            <el-option
                    v-for="item in factoryList"
                    :key="item.id"
                    :label="item.factoryName"
                    :value="item.id"
            ></el-option>
          </el-select>
        </div>
        <div class="password_lines">
          <p>角色</p>
          <el-select filterable class="password_inputs" v-model="selectValue" placeholder="请选择角色">
            <el-option
                    v-for="item in rolePageData"
                    :key="item.id"
                    :label="item.roleName"
                    :value="item.id">
            </el-option>
          </el-select>
        </div>
        <!--提交按钮-->
        <el-row class="elRow">
          <el-button class="elBtn" type="primary" @click="saveAndConfFactory" v-if="userPermissionList.indexOf('user_insert')>-1">确定提交</el-button>
        </el-row>
        <div style="height: 30px"></div>

      </div>


    </div>
    <div style="height: 50px"></div>

  </div>
</template>
<script>
  import { userPage,editRoleInfo,resetPassword,confUserRole,rolePage,saveAndConfFactory,findValidFactory,getUserPermissionCode } from "../../request/api";
  export default {
    data(){
      return{
        //  子菜单默认展示
        activeIndex: '',
        //  三个模块
        boxOneShow: true,
        boxTwoShow: false,
        boxThreeShow: false,
        boxFourShow: false,
        //  第一模块，绑定数据
        account:'',     //  账号
        selectValue:'', //  选择框
        desc:'',        //  备注

        //  账号列表
        userPageData:[],
        //  修改信息弹框
        passwords: false,
        //  修改用户信息
        username:'', // 用户名
        mobile:'',  //  手机号
        password:'',  // 密码
        realName:'',  //  姓名
        email:'', //  邮箱
        //  工厂数组
        factoryList:[],
        factoryValue:'',  //  工厂ID
        id:'',      //  用户ID
        //  角色列表
        rolePageData:[],
        //  角色ID
        roleId:'',

        userPermissionList:[] //权限数组

        //
      }
    },

    //  接口调用
    activated(){
      //  调用账号列表
      this.userPage();
      //  请求工厂列表
      this.factoryData();
      //  请求角色列表
      this.rolePage();
      //  请求菜单权限
      this.getUserPermissionCode();
    },
    methods: {
      //  子菜单
      handleSelect(key, keyPath) {
        if (keyPath == 1) {
          this.boxOneShow = true;
          this.boxTwoShow = false;
          this.boxThreeShow = false;
          this.boxFourShow = false;
        } else {
          if (keyPath == 2) {
            this.boxOneShow = false;
            this.boxTwoShow = true;
            this.boxThreeShow = false;
            this.boxFourShow = false;
          } else {
            this.boxOneShow = false;
            this.boxTwoShow = false;
            this.boxThreeShow = false;
            this.boxFourShow = true;
          }
        }
      },
      //  权限管理
      getUserPermissionCode(){
        getUserPermissionCode({
          sort: 13,
        }).then(res => {
          if(res.data.ret==1){
            this.userPermissionList = res.data.data;
          }else{
            this.$message.error(res.data.msg);
          }
        }).catch(err => {
          this.$message.error('获取页面权限详情失败,请稍后重试');
        });
      },
      //  请求工厂
      factoryData(){
        findValidFactory({

        }).then(res => {
          this.factoryList = res.data.data;
        }).catch(err => {

        });
      },
      //  请求账号列表
      userPage(){
        this.activeIndex = 1;
        userPage({
          roleId:'',
          username:'',
          realName:'',
          mobile:'',
          status: 1,
          offset: 0,
          limit: 100000000,
        }).then(res => {
          this.userPageData = res.data.data.datas;

        }).catch(err => {

        });
      },
      //  请求角色列表
      rolePage(){
        rolePage({
          status: 1,
          offset: 0,
          limit: 100000000,
        }).then(res => {
          this.rolePageData = res.data.data.datas;

        }).catch(err => {

        });
      },
      //  打开修改信息的弹框
      handleClick(row){
        this.passwords = true;
        this.id = row.id;
        this.username = row.username;
        this.mobile = row.mobile;
        this.realName = row.realName;
      },
      //  修改信息
      editRoleInfo(){
        if (!this.mobile) {
          this.$message({
            type: 'info',
            message: '请输入手机号'
          });
        }else {
          editRoleInfo({
            id: this.id,
            username: this.username,
            // password: this.password,
            realName: this.realName,
            mobile: this.mobile,
          }).then(res => {
            this.passwords = false;
            if (res.data.ret == 1) {
              this.$message({
                type: 'success',
                message: '重置成功!'
              });
              this.userPage();
            } else {
              this.$message({
                type: 'info',
                message: res.data.msg,
              });
            }


          }).catch(err => {

          });
        }

      },
      //  重置密码
      reset(row){
        this.$confirm('此操作将重置该用户密码, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          resetPassword({
            id: row.id,
          }).then(res => {
            if (res.data.ret == 1) {
              this.$message({
                type: 'success',
                message: '重置成功!'
              });
            } else {
              this.$message({
                type: 'info',
                message: res.data.msg,
              });
            }
          }).catch(err => {
            this.$message({
              type: 'info',
              message: res.data.msg,
            });
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消重置'
          });
        });
      },
      //  重置角色
      resetRole(row){
        this.boxThreeShow = true;
        this.boxTwoShow = false;
        this.boxOneShow = false;
        this.activeIndex = '3';
        this.account = row.username;
        this.id = row.id;
      },
      //  确定配置
      okBtn(){
        if (!this.roleId){
          this.$message({
            type: 'info',
            message: '请选择角色'
          });
        } else {
          confUserRole({
            userId: this.id,
            roleId: this.roleId,
            remark: this.desc,
          }).then(res => {
            if (res.data.ret == 1) {
              this.$message({
                type: 'success',
                message: '配置成功!'
              });
              this.boxThreeShow = false;
              this.boxTwoShow = false;
              this.boxOneShow = true;
              this.boxFourShow = false;
              this.activeIndex = '1';
              this.userPage();
            } else {
              this.$message({
                type: 'info',
                message: res.data.msg,
              });
            }
          }).catch(err => {
            this.$message({
              type: 'info',
              message: res.data.msg,
            });
          });
        }
      },
      //  新增用户
      saveAndConfFactory(){
        if (!this.username){
          this.$message({
            type: 'info',
            message: '请输入账号'
          });
        } else {
          if (!this.realName) {
            this.$message({
              type: 'info',
              message: '请输入姓名'
            });
          } else {
            if (!this.mobile){
              this.$message({
                type: 'info',
                message: '请输入电话'
              });
            } else {
              if (!this.factoryValue){
                this.$message({
                  type: 'info',
                  message: '请选择工厂'
                });
              } else {
                saveAndConfFactory({
                  username: this.username,
                  password:'123',
                  realName: this.realName,
                  mobile: this.mobile,
                  email: this.email,
                  roleId: this.selectValue,
                  longList: this.factoryValue,

                }).then(res => {
                  this.activeIndex = '';
                  if (res.data.ret == 1) {
                    this.$message({
                      type: 'success',
                      message: '配置成功!'
                    });
                    this.activeIndex = '1';
                    this.boxOneShow = true;
                    this.boxThreeShow = false;
                    this.boxTwoShow = false;
                    this.boxFourShow = false;

                    this.userPage();
                  } else {
                    this.$message({
                      type: 'info',
                      message: res.data.msg,
                    });
                  }

                }).catch(err => {
                  this.$message({
                    type: 'info',
                    message: res.data.msg,
                  });
                });
              }
            }
          }
        }

      }

















      //
    }
  }
</script>
<style scoped src="../../css/systemManage/userManage.css">

</style>