<template>
    <div>
        这里是404页面   
    </div>
</template>
<script>
export default {
    data() {
        return {
            
        }
    },
    methods: {
        
    },
    created() {
        
    }
}
</script>