

/*  三个盒子  */
.boxOne {
  /*background: wheat;*/
  /*max-width: 1430px;*/
  /*min-width: 1430px;*/
  width: 100%;
  margin-top: 20px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  box-shadow: 0px 10px 20px lightgrey;
  font-size: 0;
}
.boxTwo {
  width: 100%;
  /*background: wheat;*/
  /*min-width: 1330px;*/
  width: 100%;
  margin-top: 20px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  box-shadow: 0px 10px 20px darkgray;
}
.boxThree{
  width: 100%;
  /*background: wheat;*/
  /*min-width: 1800px;*/
  width: 100%;
  margin-top: 20px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  box-shadow: 0px 10px 20px darkgray;
}
.boxName {
  width: 100%;
  position: relative;
}
.boxName p {
  font-size: 25px;
  color: #666666;
  line-height: 80px;
  margin-left: 50px;
}
.bacColor {
  width: 10px;
  height: 30px;
  background: dodgerblue;
  position: absolute;
  left: 25px;
  top: 25px;
}
/*  第一模块的表单  */
.tableBox {
  width: 100%;
}
/* 两个一行 */
.inputBox {
  margin-left: 50px;
  /* float: left; */
  display: inline-block;
  margin-top: 20px;
  width: 40%;
}
.inputBox p {
  font-size: 17px;
  color: #666666;
  display: inline-block;
}
.inputs {
  width: 75%;
  margin-left: 20px;
}
.inputBox_Select {
  width: 75%;
  margin-left: 20px;
}
/*  一个一行  */
.inputBox_line {
  margin-left: 50px;
  /* background: black; */
  margin-top: 20px;
}
.inputBox_line p {
  font-size: 17px;
  color: #666666;
  display: inline-block;
}
.inputs_line {
  width: 77.1%;
  margin-left: 20px;
}
/* 三个一行  */
.inputBox_Three {
  margin-left: 4.4%;
  width: 28%;
  display: inline-block;
  margin-top: 20px;
}
.inputBox_Three p {
  font-size: 17px;
  color: #666666;
  display: inline-block;
}
.inputs_Three {
  width: 55%;
  margin-left: 20px;
}
.three_select {
  width: 60%;
  margin-left: 20px;
}


/*  表格  */
.elTable {
  width: 96% !important;
  margin-left: 2%;
  margin-top: 20px;
}

/*   提交按钮  */
.elRow {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
.elBtn {
  width: 30%;
}
/*    纸卡列表    */
.seekBox {
  width: 97%;
  margin-left: 1.5%;
  border-bottom: 1px solid #F0F0F0;
}
.seekName {
  width: 100%;
  background:#F0F0F0;
}
.seekName p {
  font-size: 16px;
  color: #666666;
  line-height: 30px;
  padding-left: 30px;
}
/* 搜索 */
.inputBox_seek {
  width: 25%;
  display: inline-block;
  margin-top: 20px;
  margin-left: 1%;
}
.inputBox_seek p {
  font-size: 17px;
  color: #666666;
  display: inline-block;
}
.inputs_seek {
  width: 58%;
  margin-left: 10px;
}
/* 时间选择 */
.timeSelect {
  margin-top: 20px;
  margin-left: 1%;

}
.seekBtn {
  margin-left: 1%;
  width: 100px;
}
.elSelect {
  width: 50%;
  margin-left: 20px;
}

/* 表格 */
.tableBox_three {
  width: 96%;
  margin-left: 2%;
  margin-top: 20px;
}
/* 搜索出来的客户的数据信息 */
.addForm {
  width: 97%;
  margin-left: 1.5%;
  margin-top: 30px;
}
.messageText {
  margin-left: 20px;
  font-size: 19px;
  color: #666666;
}
/* 渲染出来的几条信息 */
.invariant {
  margin-left: 50px;
  margin-top: 20px;
}
.invariant p {
  font-size: 17px;
  color: #666666;
  display: inline-block;
}
/* 表单填写 */
.formBox {
  width: 96%;
  margin-left: 2%;
  border: 1px solid gainsboro;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px gainsboro;
}
.formBox_seekName {
  width: 100%;
  background:#F0F0F0;
  border-radius: 10px 10px 0 0;
}
.formBox_seekName p {
  font-size: 16px;
  color: #666666;
  line-height: 30px;
  padding-left: 22px;
}
/* 有效日期时间选择 */
.cEnd {
  width: 75%;
  margin-left: 20px;
}

/* 办理明细 */
.formDetail {
  width: 96%;
  margin-left: 2%;

  border: 1px solid gainsboro;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px gainsboro;
}
.three_line {
  width: 100%;
}

.checkboxs {
  margin-left: 50px;
  margin-top: 30px;

}

/* 没有数据的时候 */
.noData {
  width: 100%;
  text-align: center;
}

.noData img {
  margin-top: 100px;
  width: 30%;
}

.noData p {
  font-size: 17px;
  color: #666666;
}
























