.main{
    display: flex;
    position: absolute;
    top: 60px;
    bottom: 0px;
    overflow: hidden;
}

.menu-expanded{
    /* flex: 0 0 230px; */
    width:230px;
    overflow-y: scroll;
}

.content-container{
    flex: 1;
    overflow-y: scroll;
    height: calc(100vh - 60px);
}

.menu-expanded::-webkit-scrollbar,.content-container::-webkit-scrollbar{
    display: none;
}

.header{
    height: 60px;
    line-height: 60px;
    /* background: #409Eff; */
    background-image: linear-gradient(to right, #273BCE , #543FBE);
    /* border-bottom: 5px solid #409Eff; */
    position: relative;
}

.logo {
    width: 230px;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #f0f0f0;
    border-right-width: 1px;
    border-right-style: solid;
    color: #ffffff;
  }

  .right-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:calc(100% - 230px);
  }

  .notice-area{
    margin-left: 50px;
    margin-right: 50px;
    color:#fff;
    font-size: 16px;
    width: calc(100% - 200px);
  }

  .userinfo{
    position: absolute;
    right: 30px;
    top:0;
  }

  .userinfo-inner{
    display: flex;
    align-items: center;
    line-height: 60px;
    cursor: pointer;
    color: #fff;
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
  }

  .content-container{
      /* padding: 20px; */
  }

  .content-container>>>.content{
    padding: 20px;
  }

  .content-container>>>.content-index{
    padding: 0 !important;
  }