.boxOne {
  /*max-width: 1800px;*/
  /*min-width: 1800px;*/
  /*background: wheat;*/
  width: 100%;
  margin-top: 20px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  box-shadow: 0px 10px 20px lightgrey;
  font-size: 0;
}
.boxTwo {
  width: 100%;
  /*background: wheat;*/
  /*max-width: 1430px;*/
  /*min-width: 1430px;*/
  margin-top: 20px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  box-shadow: 0px 10px 20px darkgray;
}
.boxName {
  width: 100%;
  position: relative;
}
.boxName p {
  font-size: 25px;
  color: #666666;
  line-height: 80px;
  margin-left: 50px;
}
.bacColor {
  width: 10px;
  height: 30px;
  background: dodgerblue;
  position: absolute;
  left: 25px;
  top: 25px;
}
/* 搜索 */
.seekBox {
  width: 97%;
  margin-left: 1.5%;
  border-bottom: 1px solid #F0F0F0;
}
.seekName {
  width: 100%;
  background:#F0F0F0;
}
.seekName p {
  font-size: 16px;
  color: #666666;
  line-height: 30px;
  padding-left: 30px;
}
.inputBox_seek {
  display: inline-block;
  margin-top: 20px;
  margin-left: 1%;
}
.inputBox_seek p {
  font-size: 17px;
  color: #666666;
  display: inline-block;
}
.inputs_seek {
  width: 70%;
  margin-left: 10px;
}
/* 时间选择 */
.timeSelect {
  margin-top: 20px;
  margin-left: 1%;
}
.seekBtn {
  margin-top: 20px;
  margin-left: 70px;
  width: 10%;
}

/* 表格 */
.tableBox_three {
  width: 96%;
  margin-left: 2%;
  margin-top: 20px;
}

/*     新增授信      */
/* 搜索纸卡 */
.seekBox {
  width: 97%;
  margin-left: 1.5%;
  border-bottom: 1px solid #F0F0F0;
}
.seekName {
  width: 100%;
  background:#F0F0F0;
}
.seekName p {
  font-size: 16px;
  color: #666666;
  line-height: 30px;
  padding-left: 30px;
}
/* 搜索 */
.inputBox_seek {
  display: inline-block;
  margin-top: 20px;
  margin-left: 50px;
}
.inputBox_seek p {
  font-size: 17px;
  color: #666666;
  display: inline-block;
}
.inputs_seek {
  width: 220px;
  margin-left: 10px;
}
.elSelect {
  width: 220px;
  margin-left: 10px;
}

/* 搜索出来的客户的数据信息 */
.addForm {
  width: 97%;
  margin-left: 1.5%;
  margin-top: 30px;
  font-size: 0;
}
.messageText {
  margin-left: 20px;
  font-size: 19px;
  color: #666666;
}


/* 两个一行 */
.inputBox {
  margin-left: 50px;
  /* float: left; */
  display: inline-block;
  margin-top: 30px;
  width: 40%;
}
.inputBox p {
  font-size: 17px;
  color: #666666;
  display: inline-block;
}
.inputs {
  width: 350px;
  margin-left: 20px;
}
/* 有效日期时间选择 */
.cEnd {
  width: 350px;
  margin-left: 20px;
}

/* 备注 */
.textareaName {
  font-size: 17px;
  color: #666666;
  display: inline-block;

}
.textareas {
  width: 350px;
  margin-left: 20px;
  vertical-align: -30px;

}


/*   提交按钮  */
.elRow {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
.elBtn {
  width: 30%;
}





/* 没有数据的时候 */
.noData {
  width: 100%;
  text-align: center;
}

.noData img {
  margin-top: 100px;
  width: 30%;
}
.noData p {
  font-size: 17px;
  color: #666666;
}













