.fast-money-back-title{
    width: 200px;
    display: flex;
    align-items: center;
}

.fast-money-back-title>span:nth-of-type(1){
    display: inline-block;
    width: 5px;
    height: 20px;
    background: #409EFF;
    margin-right: 5px;
}

.fast-money-back-title>span:nth-of-type(2){
    font-weight: bold;
}

.input-area{
    width: 200px;
    margin-right: 10px;
}

.fast-money-back-div{
    display: flex;
    margin: 20px 0;
}

.fast-money-back-div>div{
    margin-left: 15px;
}

.fast-money-back-div>div>span{
    margin-right: 10px;
    font-size: 14px;
}

.search-btn{
    margin-left: 10px;
}

.text-title{
    margin-right: 10px;
    font-size: 14px;
    display: inline-block;
    width: 60px;
}

.alert-div>div:nth-of-type(2),.alert-div>div:nth-of-type(3){
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-input-area{
    width: 200px;
    margin-right: 20px;
}

.text-input-textarea{
    width: 790px;
    margin-left: 5px;
}

.alert-div>div:last-of-type{
    display: flex;
    align-items: flex-start;
}

.loan-area-title{
    width: 200px;
    display: flex;
    align-items: center;
}

.loan-area-title>span:nth-of-type(1){
    display: inline-block;
    width: 5px;
    height: 20px;
    background: #409EFF;
    margin-right: 5px;
}

.loan-area-title>span:nth-of-type(2){
    font-weight: bold;
}

.search-div{
    display: flex;
    margin: 20px 0;
}

.search-div>div{
    margin-left: 15px;
}

.search-div>div>span{
    margin-right: 10px;
    font-size: 14px;
}

.input-area{
    width: 170px;
    margin-right: 10px;
}

.search-btn{
    margin-left: 10px;
}

.toolbar{
    margin-bottom: 50px;
}

.totalList-div{
    margin-top: 20px;
}

.choose-date{
    width:360px;
}

.title-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}