.content{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    width:100%;
    max-height: 100%;
}

.middle-area{
    position: fixed;
    left:20%;
    right: 20%;
    top: 20%;
    bottom: 30%;
}

.middle-area-img{
    width:100%;
}

.left-bg{
    position: fixed;
    left:22%;
    top: 22%;
    /* bottom: 30%; */
    height: 55vh;
}

.right-bg{
    position: fixed;
    right:22%;
    top: 17.5%;
    /* bottom: 30%; */
    height: 64vh;
}
.input-area{
    position: fixed;
    right:22%;
    top: 17%;
    height: 64vh;
    width:58vh;
}

.form-input{
    width:calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
}

.form-input-text{
    width:calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 22px;
    font-size: 12px;
    color:#C0C4CC;
}

.form-input-seccode{
    width:calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
    
}

.form-input-seccode>>>.el-form-item__content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.checkCode{
    margin-left: 10px;
}

.title{
    color:#0296E2;
    margin-top: 30px;
    margin-bottom: 25px;
}

.input-area-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-btn{
    width:100%;
    margin-top: 35px;
    background: #1646C4;
}

.logo-text{
    position: fixed;
    left:21%;
    top:22%;
    width:30vw;
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-text>img{
    width:43%;
}

.logo-text>div{
    width:2px;
    height: 24px;
    background: #fff;
    margin-right:10px ;
}

.logo-text>span{
    color:#fff;
    font-size: 18px;
}

.login-code{
     cursor: pointer;
     border:1px solid #C0C4CC;
     margin-left: 10px;
}