<template>

  <div class="body">
    <div class="content">
      <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
        <el-menu-item index="3">纸卡列表</el-menu-item>
        <el-menu-item index="2" disabled>纸卡明细</el-menu-item>
        <el-menu-item index="1">订单管理</el-menu-item>
      </el-menu>

      <!-- 三个对应的内容模块 -->
      <!-- 第一块 -->
      <div class="boxOne" v-show="boxOneShow">
        <!-- 内容模块的名字 -->
        <div class="boxName">
          <div class="bacColor"></div>
          <p>订单管理</p>
        </div>
        <div class="tableBox">
          <!-- 搜索条件 -->
          <div class="seekBox">
            <div class="seekName">
              <p>基本信息搜索</p>
            </div>
            <div class="inputBox_seek">
              <p>选择工厂</p>
              <el-select class="elSelect" v-model="factoryValue" placeholder="请选择工厂" @change="findAllClient">
                <el-option
                        v-for="item in factoryList"
                        :key="item.factorySerialNo"
                        :label="item.factoryName"
                        :value="item.factorySerialNo"
                ></el-option>
              </el-select>
            </div>

            <div class="inputBox_seek" style="width: 35%">
              <p>选择客户</p>
              <el-select class="elSelect" filterable v-model="cId" style="width: 70%" placeholder="请选择客户" @change="findContract()">
                <el-option
                        v-for="item in clientData"
                        :key="item.cId"
                        :label="item.cName"
                        :value="item.cId+ '/' +item.cName"
                ></el-option>
              </el-select>
            </div>
            <div class="inputBox_seek">
              <p>合同编号</p>
              <el-select class="elSelect" v-model="contractId" placeholder="请选择合同编号" @change="sName()">
                <el-option
                        v-for="item in contractData"
                        :key="item.cId"
                        :label="item.cId"
                        :value="item.cId+ '/' +item.sName+ '/' +item.cSaleMan"
                ></el-option>
              </el-select>
            </div>
            <el-button class="seekBtn" type="primary" @click="seekThree()" v-if="userPermissionList.indexOf('paper_card_insert')>-1">搜索</el-button>
            <div style="height: 20px"></div>
          </div>
          <div class="noData" v-show="noDataShow">
            <img src="../../assets/noData.png" alt="">
            <p>{{noDataText}}</p>
          </div>
          <!-- 详细信息和表格编辑 -->
          <!-- 表单填写 -->
          <div class="formBox" v-show="addFormShow">
            <div class="formBox_seekName">
              <p>订单信息编辑</p>
            </div>
            <!--  信息展示  -->
            <div class="invariant" style="width: 40%;display: inline-block">
              <p>客户名称 ：</p>
              <p class="messageText">{{kehuName}}</p>
            </div>
            <div class="invariant" style="width: 40%;display: inline-block">
              <p style="margin-left: 50px;">业务人员 ：</p>
              <p class="messageText">{{yewuyuan}}</p>
            </div>
            <div class="inputBox">
              <p>订单名称 ：</p>
              <el-input placeholder="请输入订单名称" v-model="zName" class="inputs"></el-input>
            </div>
            <div class="inputBox" style="margin-left: 100px;">
              <p>项目名称 ：</p>
              <el-input placeholder="请输入项目名称" v-model="zProject" class="inputs"></el-input>
            </div>
            <div class="inputBox" >
              <p>预付金额 ：</p>
              <el-input placeholder="请输入预付金额" v-model="zYfMoney" class="inputs"></el-input>
            </div>


            <div class="inputBox" style="margin-left: 100px;">
              <p>提货时长 ：</p>
              <el-date-picker
                      class="cEnd"
                      v-model="cEnd"
                      type="date"
                      value-format="yyyy-MM-dd"
                      placeholder="选择日期"
                      @change="selectTimes"
              >
              </el-date-picker>
            </div>
            <div class="inputBox">
              <p>付款方式 ：</p>
              <el-select class="inputBox_Select" v-model="payWay" placeholder="请选择付款方式">
                <el-option
                        v-for="item in payList"
                        :key="item.D_ID"
                        :label="item.D_Value"
                        :value="item.D_Value"
                ></el-option>
              </el-select>
            </div>
            <el-checkbox style="margin-left: 100px" class="checkboxs" label="打印化验单" v-model="dyhyd"  @change="dyhyds()" name="type"></el-checkbox>
            <el-checkbox class="checkboxs" label="录入封签号" v-model="lrfqh"  @change="lrfqhs()" name="type"></el-checkbox>
            <div class="three_line">
              <div class="inputBox_Three">
                <p>提货方式 ：</p>
                <el-select class="three_select" v-model="pickUpLabel" placeholder="请选择提货方式" @change="pickUp">
                  <el-option
                          v-for="item in pickUpList"
                          :key="item.type"
                          :label="item.typeName"
                          :value="item.type"
                  ></el-option>
                </el-select>
              </div>
              <div class="inputBox" style="width: 25%" v-show="freightShow" >
                <p class="textareaName">运费票制 ：</p>
                <el-select class="three_select" v-model="ticket" placeholder="请选择提货方式" style="width: 50%">
                  <el-option
                          v-for="item in ticketList"
                          :key="item.type"
                          :label="item.typeName"
                          :value="item.type"
                  ></el-option>
                </el-select>
              </div>
              <div class="inputBox_Three" v-show="freightShow">
                <p>每吨运费 ：</p>
                <el-input placeholder="请输入内容" class="inputs_Three" style="width: 100px" v-model="freight"></el-input>
              </div>

            </div>

            <!-- 办理明细 -->
            <div class="formDetail">
              <div class="formBox_seekName">
                <p>办理明细</p>
              </div>
              <!--  表格  -->

              <el-table class="elTable" ref="multipleTable" :data="contractExtData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                <el-table-column type="selection" width="55"></el-table-column>
                <el-table-column prop="eStockName" label="水泥类型"></el-table-column>
                <el-table-column prop="ePrice" label="单价（吨/元）"></el-table-column>
                <el-table-column prop="eValue" label="办理量（吨）" show-overflow-tooltip></el-table-column>
                <el-table-column label="操作">
                  <template slot-scope="scope">
                    <el-button size="small" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                  </template>
                </el-table-column>
              </el-table>

              <!--  三个一行   -->
              <el-form :model="form" style=" width:100%;display: inline-block">
                <div class="inputBox_Three">
                  <p>水泥类型</p>
                  <el-input placeholder="水泥类型" :disabled="true" v-model="form.eStockName" class="inputs_Three"></el-input>
                </div>
                <div class="inputBox_Three">
                  <p>单价</p>
                  <el-input placeholder="编辑单价" v-model="form.ePrice" class="inputs_Three"></el-input>
                </div>
                <div class="inputBox_Three">
                  <p>办理量</p>
                  <el-input placeholder="编辑办理量" v-model="form.eValue" class="inputs_Three"></el-input>
                </div>
              </el-form>
              <!--<el-button class="seekBtn" type="primary" style="width: 100px;margin-left: 30px" @click="updata()">确定编辑</el-button>-->
              <div style="height: 30px"></div>
            </div>

            <!--  提交按钮  -->
            <el-row class="elRow">
              <el-button class="elBtn" type="primary" @click="createPaperCard">确定提交</el-button>
            </el-row>
            <!--  占位  -->
            <div style="height:100px;"></div>
          </div>

          <!--  占位  -->
          <div style="height:100px;"></div>
        </div>
      </div>

      <!-- 第二块 -->
      <div class="boxTwo" v-show="boxTwoShow">
        <!-- 内容模块的名字 -->
        <div class="boxName">
          <div class="bacColor"></div>
          <p>纸卡明细</p>
        </div>
        <!-- 搜索条件 -->
        <!--<div class="seekBox">-->
        <!--<div class="seekName">-->
        <!--<p>快捷搜索</p>-->
        <!--</div>-->
        <!--<div class="inputBox_seek">-->
        <!--<p>订单编号</p>-->
        <!--<el-input placeholder="请输入内容" class="inputs_seek"></el-input>-->
        <!--</div>-->
        <!--<div class="inputBox_seek">-->
        <!--<p>客户名称</p>-->
        <!--<el-input placeholder="请输入内容" class="inputs_seek"></el-input>-->
        <!--</div>-->
        <!--<el-button class="seekBtn" type="primary">搜索</el-button>-->
        <!--<div style="height: 20px"></div>-->
        <!--</div>-->
        <!--  表格  -->
        <div class="tableBox_three">
          <el-table :data="findDtlData" border style="width: 100%">

            <el-table-column prop="dStockname" label="物料名称"></el-table-column>
            <el-table-column prop="dStockno" label="物料编号"></el-table-column>
            <el-table-column prop="dPrice" label="单价（元/吨）"></el-table-column>
            <el-table-column prop="dValue" label="办理量（吨）"></el-table-column>
          </el-table>
        </div>
        <div style="height:30px"></div>
      </div>

      <!-- 第三块 -->
      <div class="boxThree" v-show="boxThreeShow">
        <!-- 内容模块的名字 -->
        <div class="boxName">
          <div class="bacColor"></div>
          <p>纸卡列表</p>
        </div>
        <!-- 搜索条件 -->
        <div class="seekBox">
          <div class="seekName">
            <p>快捷搜索</p>
          </div>
          <div class="inputBox_seek">
            <p>选择工厂</p>
            <el-select  v-model="factoryValue" placeholder="请选择工厂" style="margin-left: 10px">
              <el-option
                      v-for="item in factoryList"
                      :key="item.factorySerialNo"
                      :label="item.factoryName"
                      :value="item.factorySerialNo"
              ></el-option>
            </el-select>
          </div>
          <div class="inputBox_seek" style="margin-left: 10%">
            <p>纸卡编号</p>
            <el-input placeholder="请输入纸卡编号" v-model="zId" class="inputs_seek"></el-input>
          </div>
          <div class="inputBox_seek" style="margin-left: 8%">
            <p>客户名称</p>
            <el-input placeholder="请输入客户名称/拼音" v-model="cName" class="inputs_seek"></el-input>
          </div>
          <!--  日期选择   -->
          <el-date-picker
                  class="timeSelect"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  v-model="value2"
                  type="datetimerange"
                  align="right"
                  unlink-panels
                  range-separator="至"
                  start-placeholder="开始日期"
                  end-placeholder="结束日期"
                  :picker-options="pickerOptions"
                  @change="selectTime">
          </el-date-picker>
          <el-button class="seekBtn" type="primary" @click="search()">搜索</el-button>
          <div style="height: 20px"></div>
        </div>
        <!--  表格  -->
        <div class="tableBox_three">
          <el-table :data="listData" border style="width: 100%">
            <el-table-column prop="facName" label="工厂名称" width="150"></el-table-column>
            <el-table-column prop="zId" label="纸卡编号" width="150"></el-table-column>
            <el-table-column prop="zName" label="纸卡名称" width="150"></el-table-column>
            <el-table-column prop="zCid" label="合同编号" width="150"></el-table-column>
            <el-table-column prop="cName" label="客户名称" width="150"></el-table-column>
            <el-table-column prop="zSaleman" label="业务人员" width="150"></el-table-column>
            <el-table-column prop="zProject" label="项目名称" width="150"></el-table-column>
            <el-table-column prop="zPayment" label="付款方式" width="150"></el-table-column>
            <el-table-column prop="zLading" label="提货方式" width="150"></el-table-column>
            <el-table-column prop="zValiddays" label="提货时长" width="150"></el-table-column>
            <el-table-column prop="zFixedmoney" label="限提金额(元)" width="150"></el-table-column>
            <el-table-column prop="zFreeze" label="是否冻结" width="150"></el-table-column>
            <el-table-column prop="zInvalid" label="是否无效卡" width="150"></el-table-column>
            <el-table-column prop="zMan" label="录入人" width="150"></el-table-column>
            <el-table-column prop="zDate" label="录入时间" width="150"></el-table-column>
            <el-table-column prop="zVerified" label="是否审核" width="150"></el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="150">
              <template slot-scope="scope">
                <el-button @click="handleClick(scope.row)" type="text" size="small">查看明细</el-button>
              </template>
            </el-table-column>
          </el-table>
          <!-- 底部 -->
          <el-col :span="24" class="toolbar">
            <el-pagination
                    layout="sizes,prev, pager, next"
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :page-sizes="limitLists"
                    :page-size="limit"
                    :total="total"
                    style="float:right;"
            ></el-pagination>
          </el-col>
        </div>
        <div style="height:30px"></div>
      </div>
      <!--  占位  -->
      <div style="height:100px;"></div>
    </div>
  </div>
</template>
<script>
  import { findValidFactory,list,findDtl,findAllClient,findContract,findContractExt,queryPayTypeList,createPaperCard,getUserPermissionCode } from "../../request/api";
  export default {
    data(){
      return{
        //  子菜单默认展示
        activeIndex: '3',
        //  三个模块
        boxOneShow: false,
        boxTwoShow: false,
        boxThreeShow: true,

        multipleSelection: [],
        multipleSelections:{},
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        value:'',
        value1: '',
        value2: '',


        //  工厂数组
        factoryList:'',
        //  工厂ID
        factoryValue:'',

        //  有效日期
        cEnd:'',
        //  提货方式
        pickUpLabel:'T',
        pickUpList:[
          {
            typeName:'自提',
            type:'T'
          },
          {
            typeName:'配送',
            type:'S'
          },
          {
            typeName:'运卸',
            type:'X'
          },
        ],
        //  提货票制
        ticket:'1',
        ticketList:[
          {
            typeName:'一票制',
            type:'1'
          },
          {
            typeName:'两票制',
            type:'2'
          },
        ],
        //  运费
        freight:'0',
        //  运费输入框的显示隐藏
        freightShow: false,
        //  表单编辑
        form: {},
        cementType: '',
        cementPrice:'',
        cementQuantity:'',
        //  打印化验单
        dyhyd: false,
        dyhydNumber:'0',
        lrfqh: false,
        lrfqhNumber:'0',
        //  纸卡列表
        startTime: "", //开始时间
        endTime: "", //结束时间
        listData:[],  //  纸卡列表
        zId:'', //  纸卡编号
        cName:'', //  客户名称
        page: 1,
        currentPage: 1, //当前页
        total: 0, //总页数
        limit: 20, //每页20条
        limitLists: [20, 50, 100, 200, 300, 500],

        //  表单显隐控制
        addFormShow: false,
        noDataShow: true,
        noDataText:'请您按顺序进行搜索',
        //  纸卡明细
        findDtlData:[],
        //  客户数据
        clientData:[],
        cId:'',
        //  合同编号
        contractData:[],
        contractId:'',
        //  合同纸卡信息
        contractExtData:[],
        //  客户名称
        kehuName:'',
        //  业务员
        yewuyuan:'',
        //  付款方式
        payList: [],//付款方式列表
        payWay:'',

        //  订单名称
        zName:'标准订单',
        //  项目名称
        zProject:'',
        //  预付金额
        zYfMoney:'0',

        pickerOptions: {
          disabledDate(time) {
            return time.getTime() < Date.now() - 8.64e7;
          }
        },
        userPermissionList:[] //权限数组
        //
      }
    },
    //  接口调用
    activated(){
      //  调用工厂
      this.factoryData();
      this.list();
      //  请求菜单权限
      this.getUserPermissionCode();
    },
    mounted(){

    },
    methods: {
      //  子菜单
      handleSelect(key, keyPath) {
        if (keyPath == 1) {
          this.boxOneShow = true;
          this.boxTwoShow = false;
          this.boxThreeShow = false;
        } else {
          if (keyPath == 2) {
            this.boxOneShow = false;
            this.boxTwoShow = true;
            this.boxThreeShow = false;
          } else {
            this.boxOneShow = false;
            this.boxTwoShow = false;
            this.boxThreeShow = true;

          }
        }
      },
      //  权限管理
      getUserPermissionCode(){
        getUserPermissionCode({
          sort: 2,
        }).then(res => {
          if(res.data.ret==1){
            this.userPermissionList = res.data.data;
          }else{
            this.$message.error(res.data.msg);
          }
        }).catch(err => {
          this.$message.error('获取页面权限详情失败,请稍后重试');
        });
      },
      // 时间选择
      selectTime(){
        console.log(this.value2);
        this.startTime = this.value2[0]; // 开始时间
        this.endTime = this.value2[1]; // 结束时间
        console.log(this.startTime,'开始时间');
        console.log(this.endTime,'结束时间');
      },

      //  请求工厂
      factoryData(){
        findValidFactory({

        }).then(res => {
          this.factoryList = res.data.data;
        }).catch(err => {

        });
      },
      // 第一块  请求纸卡列表
      list(p){
        list({
          lFacid: this.factoryValue,  //  工厂id
          cName: this.cName, //  客户名/拼音
          beginTime: this.startTime, //  开始时间
          endTime: this.endTime, //  结束时间
          zId: this.zId, //  纸卡编号
          page:'',  //  当前页码
          offset: p, //每页起始的编号
          limit: this.limit, //每页多少条
        }).then(res => {
          this.listData = res.data.data.datas;
        }).catch(err => {

        });
      },
      search() {
        this.list();
      },
      handleSizeChange(val) {
        console.log(val);
        this.limit = val;
        this.list((this.currentPage - 1) * this.limit);
      },
      handleCurrentChange(val) {
        let that = this;
        that.currentPage = val;
        that.listData = [];
        that.list((val - 1) * that.limit);
      },
      //  第二块 纸卡明细
      handleClick(row){
        console.log(row);
        this.boxOneShow = false;
        this.boxTwoShow = true;
        this.boxThreeShow = false;
        this.findDtl(row.zId);
      },
      findDtl(zId){
        findDtl({
          dZid: zId, //  纸卡编号

        }).then(res => {
          this.findDtlData = res.data.data;

        }).catch(err => {

        });
      },

      //  第三块，新增纸卡，办理纸卡
      //  请求客户
      findAllClient(){
        //  清除
        this.noDataShow = true;
        this.addFormShow = false;
        this.clientData = [];
        this.cId = '';
        findAllClient({
          lFacid: this.factoryValue,
        }).then(res => {
          this.clientData = res.data.data;

        }).catch(err => {

        });
        this.getPayTypeList();
      },
      //  请求合同编号
      findContract(){
        //  清除
        this.noDataShow = true;
        this.addFormShow = false;
        this.contractData = [];
        this.contractId = '';
        this.kehuName = this.cId.split('/')[1];
        findContract({
          factorySerialNo: this.factoryValue,
          cId: this.cId.split('/')[0],
        }).then(res => {
          this.contractData = res.data.data;

        }).catch(err => {

        });
      },
      //  拿到业务员信息
      sName(){
        this.yewuyuan = this.contractId.split('/')[1] +'、'+ this.contractId.split('/')[2];
      },
      //  搜索按钮
      seekThree(){
        if (!this.factoryValue) {
          this.$alert("请按顺序先选择工厂", "提示", {
            confirmButtonText: "确定",
            type: "warning"
          })
            .then(res => {})
            .catch(err => {});
          return false;
        }
        if (!this.cId) {
          this.$alert("请您选择客户", "提示", {
            confirmButtonText: "确定",
            type: "warning"
          })
            .then(res => {})
            .catch(err => {});
          return false;
        }
        if (!this.contractId) {
          this.$alert("请选择合同编号", "提示", {
            confirmButtonText: "确定",
            type: "warning"
          })
            .then(res => {})
            .catch(err => {});
          return false;
        }
        this.findContractExt();
      },
      //  查询纸卡详情
      findContractExt() {
        //  无内容图片展示
        this.noDataShow = false;
        this.addFormShow = true;
        findContractExt({
          factorySerialNo: this.factoryValue,
          ecId: this.contractId.split('/')[0],
        }).then(res => {
          this.contractExtData = res.data.data;

        }).catch(err => {

        });
      },
      //  付款方式
      getPayTypeList(){
        queryPayTypeList({
          factorySerialNo:this.factoryValue,
        }).then(res=>{
          if(res.data.ret==1){
            this.payList = res.data.data.payTypeList
          }else{
            this.$message.error(res.data.msg)
          }
        }).catch(err=>{
          this.$message.error('查询付款方式失败,请稍后重试')
        })
      },


      //  货运方式控制，运费单价的显隐
      pickUp(value){
        console.log(value);
        if (value == 'S' || value == 'X') {
          this.freightShow = true;
        } else {
          this.freightShow = false;
          this.ticket = '1';
          this.freight = '0';

        }

      },
      //  表单选中
      handleSelectionChange(val) {
        this.multipleSelection = val;

      },
      //  表单编辑
      handleEdit(index, row) {
        // 将数据的index传递过来用于实现数据的回显
        console.log(row);
        this.form = this.contractExtData[index];
      },
      updata(){
        console.log(this.form);
        console.log(this.multipleSelection);

      },
      //  打印化验单，录入封签号
      dyhyds(){
        if (this.dyhyd == false) {
          this.dyhydNumber = 0;
        } else {
          this.dyhydNumber = 1;
        }
        console.log(this.dyhydNumber);
      },
      lrfqhs(){
        if (this.lrfqh == false) {
          this.lrfqhNumber = 0;
        } else {
          this.lrfqhNumber = 1;
        }
        console.log(this.lrfqhNumber);
      },
      //  时间选择判断，不能选择今日之前的时间
      selectTimes(){

        var d = new Date(Date.parse(this.cEnd +' '+'23:59:59'.replace(/-/g,"/")));
        var curDate = new Date();
        if(d < curDate){
          this.$message.error('不能选择比当前时间小的日期');
          this.cEnd = '';
        }else{

        }

      },
      //  办理纸卡
      createPaperCard(){
        if (!this.zName) {
          this.$message.error('请输入订单名称')
        } else {
          if (!this.zYfMoney){
            this.$message.error('请输入预付金额')
          } else {
            if (!this.cEnd){
              this.$message.error('请输入到期时间')
            } else {
              if (!this.payWay){
                this.$message.error('请输入付款方式')
              } else {
                if (!this.freight){
                  this.$message.error('请输入每吨运费')
                } else {
                  if (this.multipleSelection == '') {
                    this.$message.error('请勾选办理物料，至少一种')
                  } else {
                    var a =  JSON.stringify(this.multipleSelection);
                    console.log(a);
                    createPaperCard({
                      paperCardDtlVoStr: a, //  选择编辑后的纸卡
                      factorySerialNo: this.factoryValue,   //  工厂编号
                      zName: this.zName,             //  订单名称
                      zCustomer: this.cId.split('/')[0],         //  客户号
                      zSaleMan: this.contractId.split('/')[2],          //  业务员号
                      zCid: this.contractId.split('/')[0],              //  合同编号
                      zProject: this.zProject,          //  项目名称
                      zPayment: this.payWay,          //  付款方式
                      zLading: this.pickUpLabel,     //  提货方式
                      zValidDays: this.cEnd,  //  到期时间
                      zYfMoney: this.zYfMoney,    //  预付金额
                      zPrintHy: this.dyhydNumber,    //  是否打印化验单 0N 1Y
                      zSeal: this.lrfqhNumber,       //  是否录入封签号 0N 1Y
                      zFPType: this.ticket,     //  发票类型 一票 二票
                      zFreight: this.freight,    //  每吨运费 配送 卸运
                      zVerified:'N',  //  审核状态
                    }).then(res=>{
                      if(res.data.ret==1){
                        this.$message({
                          message: '办理成功！',
                          type: 'success'
                        });
                        this.boxOneShow = false;
                        this.boxThreeShow = true;
                        this.addFormShow = false;
                        this.noDataShow = true;
                        this.activeIndex = 3;
                        this.list();
                      }else{
                        this.$message.error(res.data.msg)
                      }
                    }).catch(err=>{
                      this.$message.error('查询付款方式失败,请稍后重试')
                    })
                  }
                }
              }
            }
          }
        }
      }



    }
  }
</script>
<style scoped src="../../css/sellBusiness/cardManage.css">

</style>