.fac-time{
    display: flex;
}

.time-picker{
    margin-left: 30px;
}

.time-picker:last-of-type{
    margin-left: 10px;
}

.choose-div{
    margin-top: 20px;
}

.client-input{
    width:217px;
}

.client-btn{
    margin-left: 25px;
}

.sel-radio{
    margin-left: 20px;
}

.table-area{
    margin-top: 20px;
    width:1000px;
}

.top{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.top>span{
    color: #409EFF;
    font-weight: 600;
    font-size: 20px;
}

.toolbar{
    margin-bottom: 50px;
}

.btn{
    margin-left: 10px;
}