.chart {
  margin-top: 30px;
  width: 100%;
  max-width: 1128px;
  /*border: 1px solid gainsboro;*/
  border-radius: 10px;
  box-shadow: 0px 3px 6px gray;
  position: relative;
}
.chartName {
  width: 100%;
  background:#F8F8F8;
  border-radius: 10px 10px 0 0;
  /*position: relative;*/
}
.chartName p {
  line-height: 50px;
  font-size: 18px;
  margin-left: 10px;
  color: cornflowerblue;
}
.tag {
  position: absolute;
  right: 10px;
  top: 10px;
}
/* 提示文字 */
.showText {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 500px;
  text-align: center;
}
.showText p {
  font-size: 25px;
  color: #cac6c6;
  line-height: 600px;
}