.fac-time{
    display: flex;
}

.time-picker{
    margin-left: 30px;
}

.time-picker:last-of-type{
    margin-left: 10px;
}

.text{
    margin: 10px 0;
}

.text>span{
    font-size: 14px;
}

.text>span:nth-of-type(1){
    font-weight: 600;
    margin-right: 10px;
}

.client-input,.truck-input{
    width:217px;
}

.truck-input{
    margin-left: 25px;
}


.table-area{
    margin-top: 20px;
    /* width:1000px; */
}

.top{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.top>span{
    color: #409EFF;
    font-weight: 600;
    font-size: 20px;
}

.toolbar{
    margin-bottom: 50px;
}

.btn{
    margin-left: 10px;
}