.set-truck{
    margin-left: 10px;
}

.chose-btn{
    margin-left: 10px;
}

.top{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top>span{
    color: #409EFF;
    font-weight: 600;
    font-size: 20px;
}

.table-list{
    margin-bottom: 50px;
}

.table-div{
    width: 100%;
    overflow: auto;
}

table,table tr th, table tr td { border:1px solid #dcdcdc;color: #666; }

/* table tr th{
  width:150px;
} */

.table{
    /* width: 100%; */
    /* min-width:1000px; */
}

/* table tr th,table tr td{
    width:200px;
} */


table tr td{
    text-align: center;
    vertical-align: top;
}

table tr td>p{
    border-bottom: 1px solid #dcdcdc;
    height: 30px;
    line-height: 30px;
}