<template>
    <div class="content">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">销售查询</el-breadcrumb-item>
        <el-breadcrumb-item>销售数据分析</el-breadcrumb-item>
      </el-breadcrumb>
      <div style="height: 20px"></div>
      <el-row>
        <!-- 选择工厂 -->
        <el-select v-model="factoryValue" placeholder="请选择工厂" @change="getFactory">
          <el-option
                  v-for="item in factoryList"
                  :key="item.factorySerialNo"
                  :label="item.factoryName"
                  :value="item.factorySerialNo"
          ></el-option>
        </el-select>
        <!-- 选择类型 -->
        <el-select v-model="typeValue" placeholder="请选择类型" :style="{marginLeft: '20px'}" @change="getType">
          <el-option
                  v-for="item in typeList"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
          ></el-option>
        </el-select>

        <!-- 选择年 -->
        <el-date-picker
                v-model="years"
                type="year"
                placeholder="请选择年"
                value-format="yyyy"
                :style="{marginLeft: '20px'}">
        </el-date-picker>
        <!-- 选择月 -->
        <el-select v-model="monthValue" placeholder="请选择月" :style="{marginLeft: '20px'}">
          <el-option
                  v-for="item in monthList"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
          ></el-option>
        </el-select>
        <el-button type="primary" :style="{marginLeft: '20px'}" @click="okBtn('line', false)">点击查询</el-button>
      </el-row>

      <!-- 折线图盒子 -->
      <div class="chart" v-loading="loading">
        <div class="chartName">
          <p>综合数据分析</p>
          <div class="tag">
            <el-tag
                    v-for="item in items"
                    :key="item.label"
                    :type="item.type"
                    :style="{marginLeft: '10px'}"
                    effect="dark"
                    @click="okBtn(item.value, item.smooth)">
              {{ item.label }}
            </el-tag>
          </div>
        </div>
        <!-- 折线图 -->
        <!-- <div id="myChart" :style="{width: '1128px', height: '600px'}"></div> -->
        <div id="myChart" :style="{width: '100%', height: '600px',marginBottom:'30px',maxWidth:'1128px'}"></div>
        <!--   文本提示   -->
        <div class="showText" v-show="showText1">
          <p>请选择条件进行查询</p>
        </div>
        <div class="showText" v-show="showText2">
          <p>暂无销售数据</p>
        </div>
      </div>
      <div style="height: 50px"></div>

    </div>
</template>
<script>
  import { findValidFactory, findSalesAnalysisEchars } from "../../request/api";
export default {
  name:'sellData',
  data() {
    return {
      msg: 'Welcome to Your Vue.js App',
      //  工厂
      factoryList: [],
      //  工厂ID
      factoryValue: "",
      //  物料类型
      typeValue: "",
      typeList: [
        {
          value: "sType",
          label: "物料类型"
        },
        {
          value: "stockName",
          label: "物料名称"
        },
      ],
      //  标签
      items: [
        { type: '', label: '折线图',value :'line', smooth:false},
        { type: 'info', label: '曲线图',value :'line', smooth:true },
        { type: 'info', label: '柱状图',value :'bar', smooth:true },

      ],
      //  时间选择 年
      years: '',
      //  时间选择 月
      monthValue: '',
      monthList: [
        {
          value: "",
          label: "请选择月份"
        },
        {
          value: "01",
          label: "1月"
        },
        {
          value: "02",
          label: "2月"
        },
        {
          value: "03",
          label: "3月"
        },
        {
          value: "04",
          label: "4月"
        },
        {
          value: "05",
          label: "5月"
        },
        {
          value: "06",
          label: "6月"
        },
        {
          value: "07",
          label: "7月"
        },
        {
          value: "08",
          label: "8月"
        },
        {
          value: "09",
          label: "9月"
        },
        {
          value: "10",
          label: "10月"
        },
        {
          value: "11",
          label: "11月"
        },
        {
          value: "12",
          label: "12月"
        },
      ],
      //  tag颜色切换
      tagShow: false,
      //  加载中
      loading: false,
      //  接收
      option: {},
      //  提示文本
      showText1: true,
      showText2: false,
    }
  },
  // created() {
  //   this.factoryData();
  // },
  activated(){
    this.factoryData();
  },
  methods: {
    //  请求工厂
    factoryData(){
      findValidFactory({

      }).then(res => {
        this.factoryList = res.data.data;
      }).catch(err => {
      });
    },


    getFactory(res) {
      this.factoryValue = res;
    },
    // 判断tag的显示隐藏
    getType(res){
      if(res == "sType") {
        this.items = [
          { type: '', label: '折线图',value :'line', smooth:false},
          { type: 'info', label: '曲线图',value :'line', smooth:true },
          { type: 'info', label: '柱状图',value :'bar', smooth:true },
        ]
      } else {
        this.items = [
          { type: '', label: '折线图',value :'line', smooth:false},
          { type: 'info', label: '曲线图',value :'line', smooth:true },
        ]
      }
    },
    //  判断 请求参数 使用方案
    getData(type,lineType, smooth){
      var data = {};
      if(this.monthValue == ''){
        if("sType" == type){
          data = {
            yearType: 1,
            //  选择的工厂No
            factorySerialNo: this.factoryValue,
            //  按照物料类型(类型 名称查询)
            sType: 1,      //  类型
            //  年份
            year: this.years,

            //  分析图展示格式 折线图(line)，柱状图(bar)
            lineType: lineType,
            //  平滑曲线 true, 非平滑 false
            smooth: smooth,
          };
        }else{
          data = {
            yearType: 1,
            //  选择的工厂No
            factorySerialNo: this.factoryValue,
            //  按照物料类型(类型 名称查询)
            stockName:1,  //  名称
            //  年份
            year: this.years,

            //  分析图展示格式 折线图(line)，柱状图(bar)
            lineType: lineType,
            //  平滑曲线 true, 非平滑 false
            smooth: smooth,
          };
        }
      }else{
        if("sType" == type){
          data = {
            monthType: 1,
            //  选择的工厂No
            factorySerialNo: this.factoryValue,
            //  按照物料类型(类型 名称查询)
            sType: 1,      //  类型
            //  年份
            year: this.years,
            month: this.monthValue,
            //  分析图展示格式 折线图(line)，柱状图(bar)
            lineType: lineType,
            //  平滑曲线 true, 非平滑 false
            smooth: smooth,
          };
        }else{
          data = {
            monthType: 1,
            //  选择的工厂No
            factorySerialNo: this.factoryValue,
            //  按照物料类型(类型 名称查询)
            stockName: 1,
            //  年份
            year: this.years,
            month: this.monthValue,
            //  分析图展示格式 折线图(line)，柱状图(bar)
            lineType: lineType,
            //  平滑曲线 true, 非平滑 false
            smooth: smooth,
          };

        }
      }
      return data;
    },
    echarType(lineType,smooth){
      if (this.typeValue != 'sType') {
        if (smooth == false) {
          this.items = [
            { type: '', label: '折线图',value :'line', smooth:false},
            { type: 'info', label: '曲线图',value :'line', smooth:true },
          ]
        } else {
          this.items = [
            { type: 'info', label: '折线图',value :'line', smooth:false},
            { type: '', label: '曲线图',value :'line', smooth:true },
          ]
        }
      }else {
        if ("bar" == lineType){
          this.items = [
            { type: 'info', label: '折线图',value :'line', smooth:false},
            { type: 'info', label: '曲线图',value :'line', smooth:true },
            { type: '', label: '柱状图',value :'bar', smooth:true },
          ]
        } else {
          if (smooth == false) {
            this.items = [
              { type: '', label: '折线图',value :'line', smooth:false},
              { type: 'info', label: '曲线图',value :'line', smooth:true },
              { type: 'info', label: '柱状图',value :'bar', smooth:true },
            ]
          } else {
            this.items = [
              { type: 'info', label: '折线图',value :'line', smooth:false},
              { type: '', label: '曲线图',value :'line', smooth:true },
              { type: 'info', label: '柱状图',value :'bar', smooth:true },
            ]
          }
        }
      }
    },
    //  查询
    okBtn(lineType, smooth){
      this.option = '';
      if(this.factoryValue == ''){
        this.$message({
          message: '您还没有选择工厂，请选择工厂',
          type: 'warning'
        });
      }else {
        if (this.typeValue == ''){
          this.$message({
            message: '您还没有选择类型，请选择类型',
            type: 'warning'
          });
        }else {
          if(this.years == ''){
            this.$message({
              message: '您还没有选择年份，请选择年份',
              type: 'warning'
            });
          } else {
            this.loading = true;

            this.echarType(lineType,smooth);
            console.log(this.monthValue == '');
            var type = this.typeValue;
            var data = this.getData(type,lineType, smooth);

            findSalesAnalysisEchars(data).then(res => {
              if (res.data.ret == 1){
                //  隐藏提示文本
                this.showText1 = false;
                //  判断内容为空，显示的提示文本
                if (res.data.data.series == ''){
                  this.showText2 = true;
                }else {
                  this.showText2 = false;
                }
                this.option = res.data.data;
                // document.getElementById('myChart').innerHTML = '';
                // 基于准备好的dom，初始化echarts实例
                let myChart = this.$echarts.init(document.getElementById('myChart'));
                // 绘制图表
                myChart.setOption(this.option,true);
                this.loading = false;
              } else {
                this.$message.error(res.data.msg);
                this.loading = false;
              }
            }).catch(err => {
            });
          }
        }
      }
    },

  }
}
</script>
<style scoped src="../../css/sellInquire/sellData.css">
    
</style>