<template>
  <div class="content">
    <div class="fac-time">
      <!-- 选择工厂 -->
      <el-select v-model="factoryValue" placeholder="请选择工厂">
        <el-option
          v-for="item in factoryList"
          :key="item.factorySerialNo"
          :label="item.factoryName"
          :value="item.factorySerialNo"
        ></el-option>
      </el-select>
      <!-- 选择时间 -->
      <el-date-picker
        class="time-picker"
        v-model="valueS"
        type="datetime"
        @change="getTime1"
        placeholder="请选择开始时间"
      ></el-date-picker>
      <el-date-picker
        class="time-picker"
        v-model="valueE"
        type="datetime"
        @change="getTime2"
        placeholder="请选择结束时间"
      ></el-date-picker>
      <el-button type="primary" class="btn" @click.native="getToday">今天</el-button>
      <el-button type="primary" @click.native="getYesterday">昨天</el-button>
      <el-button type="primary" @click.native="getWeekday">前一星期</el-button>
      <el-button type="primary" @click.native="getMonth">前一个月</el-button>
    </div>
    <div class="text">
      <span>请选择筛选条件:</span>
      <span>注:可单选、多选或不选</span>
    </div>
    <div class="choose-div">
      <el-input
        placeholder="请输入客户名或客户号"
        v-model="clientValue"
        class="client-input"
        @change="changeClient"
        @keyup.native="trimLR1"
        clearable
      ></el-input>
      <el-input
        placeholder="请输入车牌号"
        v-model="truckValue"
        class="truck-input"
        @change="changeTruck"
        @keyup.native="trimLR2"
        clearable
      ></el-input>
      <el-select v-model="value1" multiple placeholder="请选择包装类型">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        ></el-option>
      </el-select>
      <el-select v-model="value2" multiple placeholder="请选择品种">
        <el-option
          v-for="item in typeList"
          :key="item.dParamb"
          :label="item.dValue"
          :value="item.dParamb"
        ></el-option>
      </el-select>
      <!-- 搜索 -->
      <el-button type="primary" @click.native="search()">点击搜索</el-button>
    </div>
    <!-- 表格区域 -->
    <div class="table-area">
      <div class="top">
        <span>销售明细报表展示</span>
        <div>
          <!-- <el-button type="primary" v-print="'#print-area'">打印报表</el-button> -->
          <!-- <el-button type="primary" @click="PrintRow">打印报表</el-button> -->
          <el-button type="primary" @click="exportExcel">导出报表</el-button>
        </div>
      </div>
      <el-table
        id="print-area"
        :data="tableData"
        border
        style="width: 100%"
        ref="multipleTable"
        v-loading="loading"
        @selection-change="handleSelectionChange"
      >
        <!-- <el-table-column type="selection" width="55"></el-table-column> -->
        <el-table-column prop="rId" label="记录编号" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lId" label="交货单号" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lTruck" label="车牌号码" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lCusid" label="客户编号" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lCusname" label="客户名称" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lSaleid" label="业务员编号" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lSaleman" label="业务员名称" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lTypeDesc" label="水泥类型" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lStockno" label="水泥编号" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lStockname" label="水泥名称" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lLadingDesc" label="提货方式" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lValue" label="提货量(吨)" width="150"></el-table-column>
        <el-table-column prop="lTotalPrice" label="金额(元)" width="150"></el-table-column>
        <el-table-column prop="lPrice" label="单价(元/吨)" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lArea" label="所属区域" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lZhika" label="纸卡编号" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lProject" label="项目名称" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lOutfact" label="出厂时间" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lLadeline" label="通道编号" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lLinename" label="通道名称" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lMan" label="开单人" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lDate" label="开单日期" width="150" show-overflow-tooltip></el-table-column>
        <el-table-column prop="lSeal" label="封签号" width="150" show-overflow-tooltip></el-table-column>
      </el-table>
      <!-- 底部 -->
      <el-col :span="24" class="toolbar">
        <el-pagination
          layout="sizes,prev, pager, next"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :page-sizes="limitLists"
          :page-size="limit"
          :total="total"
          style="float:right;"
        ></el-pagination>
      </el-col>
    </div>
  </div>
</template>
<script>
import {
  billDetail,
  findValidFactory,
  findDLStockName
} from "../../request/api";
export default {
  name: "sellDetail",
  data() {
    return {
      factoryList: [],
      loading: false,
      factoryValue: "", //所选工厂
      pickerOptions: {
        shortcuts: [
          {
            text: "昨天",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.setHours(0, 0, 0, 0) - 3600 * 1000 * 24);
              end.setTime(end.setHours(0, 0, 0, 0));
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "今天",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.setHours(0, 0, 0, 0));
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近一周",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近一个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近三个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            }
          }
        ]
      },
      valueS: "", //选择开始时间,
      valueE: "", //选择结束时间,
      startTime: "", //开始时间
      endTime: "", //结束时间
      clientValue: "", //客户value
      truckValue: "", //车牌号
      options: [
        {
          value: "D",
          label: "袋装"
        },
        {
          value: "S",
          label: "散装"
        }
      ],
      value1: [], //包装类型
      value2: [], //品种类型
      typeList: [],
      tableData: [], //表格数据
      page: 1,
      currentPage: 1, //当前页
      total: 0, //总页数
      limit: 20, //每页20条
      limitLists: [20, 50, 100, 200, 300, 500],
      selectValue: [] //选中行
    };
  },
  // created() {
  //   let that = this;
  //   that.getFactory();
  //   that.findDLStockNameData();
  // },
  activated() {
    let that = this;
    that.getFactory();
    that.findDLStockNameData();
  },
  methods: {
    getTime1(time) {
      let d1 = new Date(time);
      let time1 =
        d1.getFullYear() +
        "-" +
        (d1.getMonth() + 1 < 10
          ? "0" + (d1.getMonth() + 1)
          : d1.getMonth() + 1) +
        "-" +
        (d1.getDate() < 10 ? "0" + d1.getDate() : d1.getDate()) +
        " " +
        (d1.getHours() < 10 ? "0" + d1.getHours() : d1.getHours()) +
        ":" +
        (d1.getMinutes() < 10 ? "0" + d1.getMinutes() : d1.getMinutes()) +
        ":" +
        (d1.getSeconds() < 10 ? "0" + d1.getSeconds() : d1.getSeconds());
      this.startTime = time1;
    },
    getTime2(time) {
      let d2 = new Date(time);
      let time2 =
        d2.getFullYear() +
        "-" +
        (d2.getMonth() + 1 < 10
          ? "0" + (d2.getMonth() + 1)
          : d2.getMonth() + 1) +
        "-" +
        (d2.getDate() < 10 ? "0" + d2.getDate() : d2.getDate()) +
        " " +
        (d2.getHours() < 10 ? "0" + d2.getHours() : d2.getHours()) +
        ":" +
        (d2.getMinutes() < 10 ? "0" + d2.getMinutes() : d2.getMinutes()) +
        ":" +
        (d2.getSeconds() < 10 ? "0" + d2.getSeconds() : d2.getSeconds());
      this.endTime = time2;
    },
    changeClient() {},
    changeTruck() {},
    getToday() {
      let end = new Date();
      let start = new Date(new Date().setHours(0, 0, 0, 0));
      this.valueS = start;
      this.valueE = end;
      this.format(this.valueS, this.valueE);
    },
    getYesterday() {
      let end = new Date(new Date().setHours(0, 0, 0, 0));
      let start = new Date(new Date().setHours(0, 0, 0, 0) - 3600 * 1000 * 24);
      this.valueS = start;
      this.valueE = end;
      this.format(this.valueS, this.valueE);
    },
    getWeekday() {
      let end = new Date();
      let start = new Date(
        new Date().setHours(0, 0, 0, 0) - 3600 * 1000 * 24 * 7
      );
      this.valueS = start;
      this.valueE = end;
      this.format(this.valueS, this.valueE);
    },
    getMonth() {
      let end = new Date();
      let start = new Date(
        new Date().setHours(0, 0, 0, 0) - 3600 * 1000 * 24 * 30
      );
      this.valueS = start;
      this.valueE = end;
      this.format(this.valueS, this.valueE);
    },
    format(startT, endT) {
      let d1 = startT;
      let d2 = endT;
      let time1 =
        d1.getFullYear() +
        "-" +
        (d1.getMonth() + 1 < 10
          ? "0" + (d1.getMonth() + 1)
          : d1.getMonth() + 1) +
        "-" +
        (d1.getDate() < 10 ? "0" + d1.getDate() : d1.getDate()) +
        " " +
        (d1.getHours() < 10 ? "0" + d1.getHours() : d1.getHours()) +
        ":" +
        (d1.getMinutes() < 10 ? "0" + d1.getMinutes() : d1.getMinutes()) +
        ":" +
        (d1.getSeconds() < 10 ? "0" + d1.getSeconds() : d1.getSeconds());
      let time2 =
        d2.getFullYear() +
        "-" +
        (d2.getMonth() + 1 < 10
          ? "0" + (d2.getMonth() + 1)
          : d2.getMonth() + 1) +
        "-" +
        (d2.getDate() < 10 ? "0" + d2.getDate() : d2.getDate()) +
        " " +
        (d2.getHours() < 10 ? "0" + d2.getHours() : d2.getHours()) +
        ":" +
        (d2.getMinutes() < 10 ? "0" + d2.getMinutes() : d2.getMinutes()) +
        ":" +
        (d2.getSeconds() < 10 ? "0" + d2.getSeconds() : d2.getSeconds());
      this.startTime = time1;
      this.endTime = time2;
    },
    search() {
      if (!this.factoryValue) {
        this.$alert("请选择工厂", "提示", {
          confirmButtonText: "确定",
          type: "warning"
        })
          .then(res => {})
          .catch(err => {});
        return false;
      }
      if (!this.startTime) {
        this.$alert("请选择开始时间", "提示", {
          confirmButtonText: "确定",
          type: "warning"
        })
          .then(res => {})
          .catch(err => {});
        return false;
      }
      if (!this.endTime) {
        this.$alert("请选择结束时间", "提示", {
          confirmButtonText: "确定",
          type: "warning"
        })
          .then(res => {})
          .catch(err => {});
        return false;
      }
      if (this.startTime >= this.endTime) {
        this.$alert("请选择结束时间大于开始时间", "提示", {
          confirmButtonText: "确定",
          type: "warning"
        })
          .then(res => {})
          .catch(err => {});
        return false;
      }
      this.billDetailData(0);
    },
    handleCurrentChange(val) {
      let that = this;
      that.currentPage = val;
      that.tableData = [];
      that.billDetailData((val - 1) * that.limit);
    },
    handleSizeChange(val) {
      console.log(val);
      this.limit = val;
      this.billDetailData((this.currentPage - 1) * this.limit);
    },
    findDLStockNameData() {
      let that = this;
      findDLStockName({})
        .then(res => {
          if (res.data.ret == 1) {
            that.typeList = res.data.data;
          } else {
            that.$message.error("品种数据查询失败,请稍后再试");
          }
        })
        .catch(err => {
          that.$message.error("获取品种数据失败,请稍后再试");
        });
    },
    handleSelectionChange(val) {},
    trimLR1() {
      this.clientValue = this.clientValue.replace(/^\s+|\s+$/gm, "");
    },
    trimLR2() {
      this.truckValue = this.truckValue.replace(/^\s+|\s+$/gm, "");
    },
    exportExcel() {
      if (this.tableData == "") {
        this.$alert("暂无可导出数据", "提示", {
          confirmButtonText: "确定",
          type: "warning"
        })
          .then(res => {})
          .catch(err => {});
        return false;
      }
      require.ensure([], () => {
        const { export_json_to_excel } = require("../../excel/Export2Excel");
        const tHeader = [
          "记录编号",
          "交货单号",
          "车牌号码",
          "客户编号",
          "客户名称",
          "业务员编号",
          "业务员名称",
          "水泥类型",
          "水泥编号",
          "水泥名称",
          "提货方式",
          "提货量(吨)",
          "金额(元)",
          "单价(元/吨)",
          "所属区域",
          "纸卡编号",
          "项目名称",
          "出厂时间",
          "通道编号",
          "通道名称",
          "开单人",
          "开单日期",
          "封签号"
        ];
        // 上面设置Excel的表格第一行的标题
        const filterVal = [
          "rId",
          "lId",
          "lTruck",
          "lCusid",
          "lCusname",
          "lSaleid",
          "lSaleman",
          "lTypeDesc",
          "lStockno",
          "lStockname",
          "lLadingDesc",
          "lValue",
          "lTotalPrice",
          "lPrice",
          "lArea",
          "lZhika",
          "lProject",
          "lOutfact",
          "lLadeline",
          "lLinename",
          "lMan",
          "lDate",
          "lSeal"
        ];
        // 上面的index、nickName、name是tableData里对象的属性
        const list = this.tableData; //把data里的tableData存到list
        const data = this.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, "销售明细报表");
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
    //请求工厂
    getFactory() {
      let that = this;
      findValidFactory({})
        .then(res => {
          if (res.data.ret == 1) {
            that.factoryList = res.data.data;
          } else {
            that.$message.error("工厂数据查询失败,请稍后再试");
          }
        })
        .catch(err => {
          that.$message.error("获取工厂数据失败,请稍后再试");
        });
    },
    //查询数据
    billDetailData(p) {
      this.loading = true;
      billDetail({
        offset: p, //每页起始的编号
        limit: this.limit, //每页多少条
        lFacid: this.factoryValue, //工厂id
        startTime: this.startTime, //开始时间
        endTime: this.endTime, //结束时间
        CusInfo: this.clientValue, //客户信息
        lType: this.value1, //包装散装
        lTruck: this.truckValue, //车牌
        lStockno: this.value2
      })
        .then(res => {
          if (res.data.ret == 1) {
            this.loading = false;
            this.tableData = res.data.data.data;
            this.total = res.data.data.total;
          } else {
            this.loading = false;
            this.$message.error("明细报表数据错误,请稍后重试");
          }
        })
        .catch(err => {
          this.loading = false;
          this.$message.error("请求明细数据错误,请稍后重试");
        });
    },
    //打印
    PrintRow() {
      console.log('111')
      this.$print(this.$refs.multipleTable); // 使用
    }
  }
};
</script>
<style scoped src="../../css/sellInquire/sellDetail.css">
</style>