<template>
  <div class="content">
    <div class="fac-time">
      <!-- 选择工厂 -->
      <el-select v-model="factoryValue" placeholder="请选择工厂">
        <el-option
          v-for="item in factoryList"
          :key="item.factorySerialNo"
          :label="item.factoryName"
          :value="item.factorySerialNo"
        ></el-option>
      </el-select>
      <!-- 选择时间 -->
      <el-date-picker 
       class="time-picker"
        v-model="valueS" 
        type="datetime" 
        @change="getTime1"
        placeholder="请选择开始时间">
      </el-date-picker>
      <el-date-picker 
       class="time-picker"
        v-model="valueE" 
        type="datetime" 
        @change="getTime2"
        placeholder="请选择结束时间">
      </el-date-picker>
      <el-button type="primary" class="btn" @click.native="getToday">今天</el-button>
      <el-button type="primary" @click.native="getYesterday">昨天</el-button>
      <el-button type="primary" @click.native="getWeekday">前一星期</el-button>
      <el-button type="primary" @click.native="getMonth">前一个月</el-button>
    </div>
    <div class="choose-div">
      <!-- 选择输入客户 -->
      <el-input
        placeholder="请输入客户名或客户号"
        v-model="clientValue"
        class="client-input"
        @change="changeClient"
        @keyup.native="trimLR1"
        clearable
      ></el-input>
      <el-button
        v-if="!choseAllClient"
        @click.native="chooseAll(0)"
        type="default"
        class="client-btn"
      >选择全部客户</el-button>
      <el-button
        type="primary"
        v-if="choseAllClient"
        @click.native="chooseAll(1)"
        class="client-btn"
      >选择全部客户</el-button>
      <!-- 选择包装或者品种 -->
      <el-radio v-model="radio1" label="1" border @change="selRadio" class="sel-radio">选择包装类型</el-radio>
      <el-radio v-model="radio1" label="2" border @change="selRadio">选择品种</el-radio>
      <!-- 点击搜索 -->
      <el-button type="primary" @click.native="search()">点击搜索</el-button>
    </div>
    <!-- 表格区域 -->
    <div class="table-area">
      <div class="top">
        <span>销售汇总报表展示</span>
        <el-button type="primary" @click="exportExcel">导出报表</el-button>
      </div>
      <el-table :data="tableData" border style="width: 100%" v-loading="loading">
        <el-table-column prop="custName" label="客户" width="300" show-overflow-tooltip></el-table-column>
        <el-table-column prop="packTypeName" label="包装类型" width="180" show-overflow-tooltip v-if="radio1==1"></el-table-column>
        <el-table-column prop="stockName" label="物料名称" show-overflow-tooltip v-if="radio1==2" width="200"></el-table-column>
        <el-table-column prop="custValueSum" label="总提货量(吨)" width="150"></el-table-column>
        <el-table-column prop="custPriceSum" label="总价格(元)" width="150"></el-table-column>
      </el-table>
      <!-- 底部 -->
      <el-col :span="24" class="toolbar">
        <el-pagination
          layout="sizes, prev, pager, next"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :page-sizes="limitLists"
          :page-size="limit"
          :total="total"
          style="float:right;"
        ></el-pagination>
      </el-col>
    </div>
  </div>
</template>
<script>
import { sBillSumPage,findValidFactory } from '../../request/api';
export default {
  name:'sellSummarize',
  data() {
    return {
      factoryList: [],
      loading:false,
      factoryValue: "", //所选工厂
      pickerOptions: {
        shortcuts: [
          {
            text: "昨天",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.setHours(0, 0, 0, 0) - 3600 * 1000 * 24);
              end.setTime(end.setHours(0, 0, 0, 0));
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "今天",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.setHours(0, 0, 0, 0));
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近一周",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近一个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近三个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            }
          }
        ]
      },
      choseAllClient: 0, //选中全部客户
      valueS: "", //选择开始时间,
      valueE: "", //选择结束时间,
      startTime: "", //开始时间
      endTime: "", //结束时间
      clientValue: "", //客户名信息
      client: "", //客户信息或者全部客户的字段
      radio1: "", //选择包装或者品种
      tableData: [ ],
      page:1,
      currentPage:1,//当前页
      total:0, //总页数
      limit:20, //每页20条
      limitLists:[20,50,100,200,300,500]
    };
  },
  // created() {
  //   let that = this;
  //   this.getFactory();
  // },
  activated(){
    let that = this;
    this.getFactory();
  },
  methods: {
    //请求工厂
    getFactory(){
      let that = this;
      findValidFactory({}).then(res=>{
        if(res.data.ret == 1){
          that.factoryList = res.data.data;
        }else{
          that.$message.error('工厂数据查询失败,请稍后再试')
        }
      }).catch(err=>{
        that.$message.error('获取工厂数据失败,请稍后再试')
      })
    },
    getTime1(time) {
      let d1 = new Date(time);
      let time1 =
        d1.getFullYear() +
        "-" +
        (d1.getMonth() + 1 < 10
          ? "0" + (d1.getMonth() + 1)
          : d1.getMonth() + 1) +
        "-" +
        (d1.getDate() < 10 ? "0" + d1.getDate() : d1.getDate()) +
        " " +
        (d1.getHours() < 10 ? "0" + d1.getHours() : d1.getHours()) +
        ":" +
        (d1.getMinutes() < 10 ? "0" + d1.getMinutes() : d1.getMinutes()) +
        ":" +
        (d1.getSeconds() < 10 ? "0" + d1.getSeconds() : d1.getSeconds());
      this.startTime = time1;
    },
    getTime2(time) {
      let d2 = new Date(time);
      let time2 =
        d2.getFullYear() +
        "-" +
        (d2.getMonth() + 1 < 10
          ? "0" + (d2.getMonth() + 1)
          : d2.getMonth() + 1) +
        "-" +
        (d2.getDate() < 10 ? "0" + d2.getDate() : d2.getDate()) +
        " " +
        (d2.getHours() < 10 ? "0" + d2.getHours() : d2.getHours()) +
        ":" +
        (d2.getMinutes() < 10 ? "0" + d2.getMinutes() : d2.getMinutes()) +
        ":" +
        (d2.getSeconds() < 10 ? "0" + d2.getSeconds() : d2.getSeconds());
      this.endTime = time2;
    },
    getToday(){
      let end = new Date();
      let start = new Date(new Date().setHours(0, 0, 0, 0));
      this.valueS= start;
      this.valueE = end;
      this.format(this.valueS,this.valueE);
    },
    getYesterday(){
      let end = new Date(new Date().setHours(0, 0, 0, 0));
      let start = new Date(new Date().setHours(0, 0, 0, 0)- 3600 * 1000 * 24);
      this.valueS= start;
      this.valueE = end;
      this.format(this.valueS,this.valueE);
    },
    getWeekday(){
      let end = new Date();
      let start = new Date(new Date().setHours(0, 0, 0, 0)- 3600 * 1000 * 24 * 7);
      this.valueS= start;
      this.valueE = end;
      this.format(this.valueS,this.valueE);
    },
    getMonth(){
      let end = new Date();
      let start = new Date(new Date().setHours(0, 0, 0, 0)- 3600 * 1000 * 24 * 30);
      this.valueS= start;
      this.valueE = end;
      this.format(this.valueS,this.valueE);
    },
    format(startT,endT){
      let d1 = startT;
      let d2 = endT;
      let time1 =
        d1.getFullYear() +
        "-" +
        (d1.getMonth() + 1 < 10
          ? "0" + (d1.getMonth() + 1)
          : d1.getMonth() + 1) +
        "-" +
        (d1.getDate() < 10 ? "0" + d1.getDate() : d1.getDate()) +
        " " +
        (d1.getHours() < 10 ? "0" + d1.getHours() : d1.getHours()) +
        ":" +
        (d1.getMinutes() < 10 ? "0" + d1.getMinutes() : d1.getMinutes()) +
        ":" +
        (d1.getSeconds() < 10 ? "0" + d1.getSeconds() : d1.getSeconds());
      let time2 =
        d2.getFullYear() +
        "-" +
        (d2.getMonth() + 1 < 10
          ? "0" + (d2.getMonth() + 1)
          : d2.getMonth() + 1) +
        "-" +
        (d2.getDate() < 10 ? "0" + d2.getDate() : d2.getDate()) +
        " " +
        (d2.getHours() < 10 ? "0" + d2.getHours() : d2.getHours()) +
        ":" +
        (d2.getMinutes() < 10 ? "0" + d2.getMinutes() : d2.getMinutes()) +
        ":" +
        (d2.getSeconds() < 10 ? "0" + d2.getSeconds() : d2.getSeconds());
      this.startTime = time1;
      this.endTime = time2;
    },
    chooseAll(res) {
      if (res == 0) {
        this.choseAllClient = 1;
        this.client = 1;
        this.clientValue = "";
      } else {
        this.choseAllClient = 0;
      }
    },
    trimLR1(){
       this.clientValue = this.clientValue.replace(/^\s+|\s+$/gm,'')
    },
    changeClient(res) {
      this.choseAllClient = 0;
      this.client = res;
    },
    selRadio(res) {
      this.tableData = [];
    },
    search() {
      if (!this.factoryValue) {
        this.$alert("请选择工厂", "提示", {
          confirmButtonText: "确定",
          type: "warning"
        })
          .then(res => {})
          .catch(err => {});
        return false;
      }
      if (!this.startTime) {
        this.$alert("请选择开始时间", "提示", {
          confirmButtonText: "确定",
          type: "warning"
        })
          .then(res => {})
          .catch(err => {});
        return false;
      }
      if (!this.endTime) {
        this.$alert("请选择结束时间", "提示", {
          confirmButtonText: "确定",
          type: "warning"
        })
          .then(res => {})
          .catch(err => {});
        return false;
      }
      if (this.startTime>=this.endTime) {
        this.$alert("请选择结束时间大于开始时间", "提示", {
          confirmButtonText: "确定",
          type: "warning"
        })
          .then(res => {})
          .catch(err => {});
        return false;
      }
      if (!this.client) {
        this.$alert("请输入客户名或者选择全部客户", "提示", {
          confirmButtonText: "确定",
          type: "warning"
        })
          .then(res => {})
          .catch(err => {});
        return false;
      }
      if (!this.radio1) {
        this.$alert("请选择包装类型或者品种", "提示", {
          confirmButtonText: "确定",
          type: "warning"
        })
          .then(res => {})
          .catch(err => {});
        return false;
      }
      this.sBillSumPageData(0);
    },
    handleCurrentChange(val){
      let that = this;
      that.currentPage = val;
      that.tableData = [];
      that.sBillSumPageData((val - 1) * that.limit);
    },
    handleSizeChange(val){
      console.log(val)
      this.limit = val;
      this.sBillSumPageData((this.currentPage - 1) * this.limit);
    },
    exportExcel(){
      if(this.tableData==''){
        this.$alert("暂无可导出数据", "提示", {
          confirmButtonText: "确定",
          type: "warning"
        })
          .then(res => {})
          .catch(err => {});
        return false;
      }
      require.ensure([], () => {
        const { export_json_to_excel } = require('../../excel/Export2Excel');
        let tHeader,filterVal;
        if(this.radio1==1){
          tHeader = ['客户', '包装类型','总提货量(吨)','总价格(元)'];
          filterVal = ['custName', 'packTypeName','custValueSum','custPriceSum'];
        }else if(this.radio1==2){
          tHeader = ['客户', '物料名称','总提货量(吨)','总价格(元)'];
          filterVal = ['custName', 'stockName','custValueSum','custPriceSum'];
        }
        const list = this.tableData;  //把data里的tableData存到list
        const data = this.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, '销售汇总报表');
      })
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]))
    },
    //查询数据
    sBillSumPageData(p){
      this.loading = true;
      let queryCriteria=[];
      if(this.choseAllClient==1){
        queryCriteria.push('cust');
      }
      if(this.radio1 == 1){
        queryCriteria.push('packType');
      }else if(this.radio1 == 2){
        queryCriteria.push('stock');
      }
      sBillSumPage({
        offset:p, //每页起始的编号
        limit: this.limit, //每页多少条
        lFacid:this.factoryValue, //工厂id
        startTime:this.startTime, //开始时间
        endTime:this.endTime, //结束时间
        custInfo:this.clientValue, //客户信息
        queryCriteria:queryCriteria
      }).then(res=>{
        if(res.data.ret==1){
          this.loading = false;
          this.tableData = res.data.data.datas;
          this.total = res.data.data.totalCount;
        }else{
          this.loading = false;
          this.$message.error('汇总报表数据错误,请稍后重试');
        }
      }).catch(err=>{
        this.loading = false;
        this.$message.error('请求汇总数据错误,请稍后重试');
      })
    }
  }
};
</script>
<style scoped src="../../css/sellInquire/sellSummarize.css">
</style>