<template>
  <div class="content">
    <!-- 选择工厂 -->
    <el-select v-model="factoryValue" placeholder="请选择工厂" @change="selFactory">
      <el-option
        v-for="item in factoryList"
        :key="item.factorySerialNo"
        :label="item.factoryName"
        :value="item.factorySerialNo"
      ></el-option>
    </el-select>
    <!-- 选择品种 -->
    <el-select v-model="value1" :loading="loadingType" placeholder="请选择品种" @focus="selType" clearable >
      <el-option
        v-for="item in typeList"
        :key="item.zStockNo"
        :label="item.zStock"
        :value="item.zStockNo"
      ></el-option>
    </el-select>
    <!-- 选择车道 -->
    <el-select
      clearable 
      multiple
      v-model="value2"
      placeholder="请选择车道"
      :loading="loadingTruck"
      class="set-truck"
      @focus="selTruck"
    >
      <el-option v-for="item in truckList" :key="item.zID" :label="item.zName" :value="item.zID"></el-option>
    </el-select>
    <!-- 点击搜索 -->
    <el-button type="primary" @click.native="search()">点击搜索</el-button>
    <div class="top">
      <span>厂内待装车辆查询状态</span>
      <!-- <el-button type="primary">查看细则</el-button> -->
    </div>
    <!-- <el-table :data="tableData" border  v-loading="loading" class="table-list">
      <template v-for="(item,index) in tableHead">
        <el-table-column
          :prop="item.zID"
          :label="item.zName"
          :key="index"
          width="150"
        ></el-table-column>
      </template>
    </el-table>-->
    <div class="table-div">
      <table class="table" cellspacing="0" :width="length*100">
        <tr>
          <th v-for="(item,index) in tableData" :key="index">{{item.zName}}</th>
        </tr>
        <tr>
          <td v-for="(i,index) in tableData" :key="index" class="table-td">
            <p v-for="(n,index) in i.truck" :key="index">{{n.truck}}</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>
<script>
import {
  findDLStockName,
  findValidFactory,
  queryVehicLoaded
} from "../../request/api";
export default {
  data() {
    return {
      factoryList: [],
      loadingType: false,
      loadingTruck: false,
      factoryValue: "", //所选工厂
      loading: false,
      // 表头数据
      tableHead: [],
      // 表格数据
      tableData: [],
      length:0,//长度值
      value1: "", //选中品种值
      typeList: [], //品种列表
      value2: [], //选中车道
      truckList: [] //车道列表
    };
  },
  activated() {
    let that = this;
    that.getFactory();
  },
  methods: {
    //请求工厂
    getFactory() {
      let that = this;
      findValidFactory({})
        .then(res => {
          if (res.data.ret == 1) {
            that.factoryList = res.data.data;
          } else {
            that.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          that.$message.error("获取工厂数据失败,请稍后再试");
        });
    },
    selType() {
      if (!this.factoryValue) {
        this.$message.error("请先选择工厂");
        return;
      }
    },
    selTruck() {
      if (!this.factoryValue) {
        this.$message.error("请先选择工厂");
        return;
      }
    },
    selFactory(val) {
      this.loadingType = true;
      this.loadingTruck = true;
      this.value1 = "";
      this.value2 = "";
      this.typeList = "";
      this.truckList = "";
      queryVehicLoaded({
        factorySerialNo: val
      })
        .then(res => {
          this.loadingType = false;
          this.loadingTruck = false;
          if (res.data.ret == 1) {
            this.typeList = res.data.data.stocks;
            this.truckList = res.data.data.lines;
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.loadingType = false;
          this.loadingTruck = false;
          this.$message.error("查询品种及车道信息失败,请稍后再试");
        });
    },
    search() {
      if (!this.factoryValue) {
        this.$message.error("请选择工厂");
        return;
      }
      queryVehicLoaded({
        factorySerialNo: this.factoryValue,
        stockNo: this.value1,
        strList: this.value2
      })
        .then(res => {
          this.loadingType = false;
          this.loadingTruck = false;
          if (res.data.ret == 1) {
            this.tableHead = res.data.data.lines;
            this.tableData = res.data.data.vehicTruckVos;
            // console.log(res.data.data.vehicTruckVos.length)
            this.length = res.data.data.vehicTruckVos.length;
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.$message.error("查询待装车辆信息失败,请稍后再试");
        });
    }
  }
};
</script>
<style scoped src="../../css/sellInquire/truckInquire.css">
</style>