<template>
  <div>
    <el-col :span="24" class="header">
      <el-col :span="10" class="logo">{{sysName}}</el-col>
      <el-col :span="14" class="right-div">
        <div class="notice-area">
          <marquee scrollamount="5" scrolldelay="0" direction="left" scrollTop="0">
            {{notice}}
          </marquee>
        </div>
        <el-dropdown class="userinfo">
          <span class="el-dropdown-link userinfo-inner">
            {{sysUserName}}
            <!-- <img :src="this.src" /> -->
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item disabled>我的消息</el-dropdown-item>
            <el-dropdown-item disabled>设置</el-dropdown-item>
            <el-dropdown-item @click.native.prevent="dialogVisible=true">修改密码</el-dropdown-item>
            <el-dropdown-item divided @click.native.prevent="exit">退出登录</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </el-col>
    </el-col>
    <el-col :span="24" class="main">
      <!-- 左侧导航 -->
      <el-menu
        :default-active="$route.path"
        router
        @select="menuSelect"
        unique-opened
        background-color="#2D2E42"
        text-color="#fff"
        active-text-color="#409EFF"
        class="el-menu-vertical-demo menu-expanded"
      >
        <!-- <div v-for="(item,index) in $router.options.routes" v-if="!item.hidden"> -->
        <template v-for="(item,index) in route" v-if="!item.hidden">
          <el-submenu :index="index+''" v-if="!item.leaf">
            <template slot="title">
              <i :class="item.iconCls"></i>
              {{item.name}}
            </template>
            <el-menu-item
              v-for="child in item.children"
              :index="child.path"
              :key="child.path"
            >{{child.name}}</el-menu-item>
          </el-submenu>
          <el-menu-item v-if="item.leaf&&item.children.length>0" :index="item.children[0].path">
            <i :class="item.iconCls"></i>
            {{item.children[0].name}}
          </el-menu-item>
        </template>
      </el-menu>
      <!-- 右侧部分 -->
      <section class="content-container">
        <!-- <el-col :span="24" class="breadcrumb-container">
          <span class="title">{{$route.name}}</span>
          <el-breadcrumb separator="/" class="breadcrumb-inner">
            <el-breadcrumb-item v-for="item in $route.matched" :key="item.path">{{item.name}}</el-breadcrumb-item>
          </el-breadcrumb>
        </el-col>-->
        <el-col :span="24" class="content-area">
          <transition mode="out-in" name="fade">
            <div>
              <keep-alive>
                <router-view v-if="$route.meta.keepAlive"></router-view>
              </keep-alive>
              <router-view v-if="!$route.meta.keepAlive"></router-view>
            </div>
          </transition>
        </el-col>
      </section>
    </el-col>

    <!-- 弹窗修改密码 -->
    <el-dialog title="修改密码" :visible.sync="dialogVisible" width="30%" :before-close="handleClose">
      <div>
        <el-form
          :model="ruleForm"
          ref="editForm"
          :rules="editRules"
          label-position="right"
          label-width="80px"
        >
          <el-form-item label="原始密码" prop="checkPass">
            <el-input v-model="ruleForm.checkPass" type="password" placeholder="请输入原始密码" clearable></el-input>
          </el-form-item>
          <el-form-item label="新密码" prop="newPass">
            <el-input v-model="ruleForm.newPass" type="password" placeholder="请输入新密码" clearable></el-input>
          </el-form-item>
          <el-form-item label="确认密码" prop="confirmNewPass">
            <el-input
              v-model="ruleForm.confirmNewPass"
              type="password"
              placeholder="请再次输入新密码"
              clearable
            ></el-input>
          </el-form-item>
        </el-form>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="EditPassword('editForm')" :loading="loading">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { editPassword,getPublishNotice } from "../../request/api";
export default {
  data() {
    let validatePass = (rule, value, callback) =>{
      let reg=/^(?![a-zA-Z]+$)(?![A-Z0-9]+$)(?![A-Z\W_]+$)(?![a-z0-9]+$)(?![a-z\W_]+$)(?![0-9\W_]+$)[a-zA-Z0-9\W_]{8,20}$/;
      if (value === "") {
        callback(new Error("请输入密码"));
      } else if (!reg.test(value)) {
        callback(new Error("请输入格式正确的密码!"));
      } else {
        callback();
      }
    };
    let validatePass2 = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请再次输入密码"));
      } else if (value !== this.ruleForm.newPass) {
        callback(new Error("两次输入密码不一致!"));
      } else {
        callback();
      }
    };
    return {
      ruleForm: {
        checkPass: "",
        newPass: "",
        confirmNewPass: ""
      },
      sysName: "一卡通管理系统",
      notice:'',//公告
      sysUserName: sessionStorage.getItem('realName'),
      dialogVisible: false,
      loading:false,
      editRules: {
        checkPass: [{ required: true, message: "请输入原始密码", trigger: "blur" }],
        newPass: [{ required: true,validator: validatePass, trigger: "blur" }],
        confirmNewPass: [
          { required: true, trigger: "blur", validator: validatePass2 }
        ]
      },
    };
  },
  created() {
    this.getNotice();
  },
  computed: {
    route() {
      return this.$store.state.routers;
    }
  },
  methods: {
    //获取公告
    getNotice(){
      getPublishNotice({
      }).then(res=>{
        if(res.data.ret==1){
          this.notice = res.data.data[0].content
        }
      }).catch(err=>{

      })
    },
    menuSelect(key, keyPath) {},
    exit() {
      this.$confirm("确认要退出登录么?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          sessionStorage.removeItem("key");
          this.$router.push({
            path: "/login"
          });
        })
        .catch(() => {});
    },
     handleClose(done) {
        this.$confirm('确认关闭？')
          .then(_ => {
            done();
          })
          .catch(_ => {});
      },
   //修改密码
    EditPassword(formName){
       let that = this;
      that.$refs[formName].validate(valid => {
        if (valid) {
          that.loading = true;
          editPassword({
            oldPassword: that.ruleForm.checkPass,
            password: that.ruleForm.newPass
          })
            .then(res => {
              that.loading = false;
              if (res.data.ret == 1) {
                that.$message.success("修改密码成功");
                that.dialogVisible = false;
              } else {
                that.$message.error(res.data.msg);
              }
            })
            .catch(err => {
              that.loading = false;
              that.dialogVisible = false;
              that.$message.error("修改密码失败，请稍后重试");
            });
        }
      });
    }
  }
};
</script>
<style scoped src="../../css/home/home.css">
</style>