<template>
    <div class="content-index">
        <img src="../assets/home.png" alt="">
        <div class="text">
            <img src="../assets/logo2.png" alt="">
        </div>
    </div>
</template>
<script>
export default {
   
}
</script>
<style scoped>
    .content-index{
        width: 100%;
        position: relative;
    }
    .content-index>img{
        width: 100%;
        display: block;
    }
    .text{
        position: absolute;
        color:#fff;
        width: 100%;
        text-align: center;
        top:20%;
    }
    .text>img{
        display: block;
        width: 100%;
    }
</style>