.fac-name{
    display: flex;
    align-items: center;
}

.fac-name>span{
    font-size: 14px;
    color: #666;
}

.search-div{
    display: flex;
}

.add-btn{
    margin-left: 50px;
}

.fac-name-input{
    width: 300px;
    margin-left: 20px;
    margin-right: 50px;
}

.lists{
    margin-top: 30px;
}

.toolbar{
    margin-bottom: 50px;
}

/* .fac-name{

} */

.alert-content>div{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.alert-content>div>.fac-name>span{
    display: inline-block;
    width: 80px;
}

.alert-content>div:nth-of-type(2),.alert-content>div:nth-of-type(3){
    margin-top: 20px;
}