.notice-area{
    width:376px;
}

.notice-area>div{
    width: 376px;
}

.notice-area-title{
    display: flex;
    align-items: center;
}

.notice-area-title>span:nth-of-type(1){
    display: inline-block;
    width: 5px;
    height: 20px;
    background: #409EFF;
    margin-right: 5px;
}

.notice-area-title>span:nth-of-type(2){
    font-weight: bold;
}


.notice-name{
    margin-top: 30px;
    margin-left: 10px;
}

.edit-notice-name{
    margin-top: 0;
}

.title{
    font-size: 14px;
    color: #666;
}

.notice-name-input{
    width:300px;
}

.notice-content{
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    margin-left: 10px;
}

.notice-content>span{
    margin-right: 5px;
}

.user-name{
    margin-left: 15px;
}

.notice-list{
    margin-left: 30px;
    margin-right: 20px;  
    width: calc(100% - 376px);
}

.content{
    display: flex;
    justify-content: flex-start;
}

.notice-list-area{
    margin-top: 30px;
}

.toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 50px;
}

.submit-btn{
    background: #1948B4;
}

.handle-btns{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}