.role-area-title {
    display: flex;
    align-items: center;
}

.role-area-title>span:nth-of-type(1) {
    display: inline-block;
    width: 5px;
    height: 20px;
    background: #409EFF;
    margin-right: 5px;
}

.role-area-title>span:nth-of-type(2) {
    font-weight: bold;
}

.role-name {
    margin-top: 30px;
    margin-left: 10px;
}

.role-name:last-of-type {
    margin-top: 20px;
}

.title,
.role-list-title {
    font-size: 14px;
    color: #666;
}

.role-list-title {
    margin-right: 15px;
}

.role-name-input {
    width: 300px;
}

.role-list {
    margin-top: 20px;
    margin-left: 10px;
}

.clearfix{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
} */

.box-card {
    width: 380px;
    margin: 20px 0 50px;
}

.content{
    display: flex;
}

.table-area{
    margin-top: 30px;
}

.role-lists-area{
    margin-left: 30px;
}

.toolbar{
    margin-bottom: 50px;
}

.el-table>>>.disabled-row {
    background: #eeeded;
  }