/*  三个盒子  */
.boxOne {
  width: 100%;
  /*min-width: 1330px;*/
  /*background: wheat;*/
  margin-top: 20px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  box-shadow: 0px 10px 20px lightgrey;
  font-size: 0;
}
.boxTwo {
  width: 100%;
  /*min-width: 1330px;*/
  /*background: wheat;*/
  margin-top: 20px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  box-shadow: 0px 10px 20px darkgray;
}
.boxThree{
  width: 100%;
  /*min-width: 1330px;*/
  /*background: wheat;*/
  margin-top: 20px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  box-shadow: 0px 10px 20px darkgray;
}
.boxFour {
  width: 600px;

  margin-top: 20px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  box-shadow: 0px 10px 20px darkgray;
}
.boxName {
  width: 100%;
  position: relative;
}
.boxName p {
  font-size: 25px;
  color: #666666;
  line-height: 80px;
  margin-left: 50px;
}
.bacColor {
  width: 10px;
  height: 30px;
  background: dodgerblue;
  position: absolute;
  left: 25px;
  top: 25px;
}

/* 第一模块 */
.boxOne_one {
  width: 50%;
  display: inline-block;
  /*background: wheat;*/
  vertical-align: top;
}
/* 输入框 */
.accountInput {
  width: 70%;
  margin-left: 15%;
  margin-top: 30px;
}
/* 选择框 */
.roleSelect {
  width: 70%;
  margin-left: 15%;
  margin-top: 30px;
}
/* 备注 */
.descTextarea {
  width: 70%;
  margin-left: 15%;
  margin-top: 30px;
}
/* 按钮 */
.row {
  width: 70%;
  margin-left: 15%;
  margin-top: 50px;
}
.btn {
  width: 30%;
  margin-left: 13%;
}

.boxOne_two_name {
  font-size: 16px;
  color: #666666;
  margin-left: 10%;
}
.boxOne_two_text {
  font-size: 15px;
  color: #888888;
  margin-left: 10%;
  margin-top: 20px;
}
/*  第二模块  */
.boxOne_two {
  vertical-align: top;
  width: 50%;
  height: 500px;
  display: inline-block;

}
.boxTwo_roleSelect{
  display: inline-block;
  margin-left: 50px;
  width: 20%;
}
.boxTwo_accountInput {
  display: inline-block;
  width: 20%;
  margin-left: 30px;
}
.boxTwo_btn {
  display: inline-block;
  width: 20%;
  margin-left: 30px;
}
.boxTwo_table {
  width: 92%;
  margin-left: 4%;
  margin-top: 30px;
}
/*  修改密码  */
.passwordBox {
  width: 100%;
}
.password_line {
  margin-top: 30px;
}
.password_line p {
  display: inline-block;
  font-size: 18px;
  color: #666666;
}
.password_input {
  width: 70%;
  margin-left: 20px;
}

.password_lines {
  margin-top: 30px;
  margin-left: 10%;
}
.password_lines p {
  display: inline-block;
  font-size: 18px;
  color: #666666;
}
.password_inputs {
  width: 70%;
  margin-left: 10px;
}
/*   提交按钮  */
.elRow {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.elBtn {
  width: 30%;
}






















