<template>
    <div class="content">
        这里是客户对账单页面
    </div>
</template>
<script>
export default {
    data() {
        return {
            
        }
    },
    created() {
        
    },
    methods: {
        
    }
}
</script>
<style scoped src="../../css/financialManage/customerStatement.css">
    
</style>