<template>
  <div class="content">
    <!-- 子菜单 -->
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
      <el-menu-item index="1">授信记录</el-menu-item>
      <el-menu-item index="2">新增授信</el-menu-item>
    </el-menu>
    <!-- 控制页面 -->

    <!--    授信记录     -->
    <div class="boxOne" v-show="boxOneShow">
      <!-- 内容模块的名字 -->
      <div class="boxName">
        <div class="bacColor"></div>
        <p>授信记录</p>
      </div>
      <!-- 搜索条件 -->
      <div class="seekBox">
        <div class="seekName">
          <p>快捷搜索</p>
        </div>
        <div class="inputBox_seek">
          <p>选择工厂</p>
          <el-select class="elSelect" v-model="factoryValue" placeholder="请选择工厂">
            <el-option
                    v-for="item in factoryList"
                    :key="item.factorySerialNo"
                    :label="item.factoryName"
                    :value="item.factorySerialNo"
            ></el-option>
          </el-select>
        </div>
        <div class="inputBox_seek">
          <p>客户编号</p>
          <el-input placeholder="请输入客户编号" v-model="mCusids" class="inputs_seek"></el-input>
        </div>
        <div class="inputBox_seek">
          <p>客户名称</p>
          <el-input placeholder="请输入内容" v-model="mCusname" class="inputs_seek"></el-input>
        </div>
        <!--  日期选择   -->
        <el-date-picker
                class="timeSelect"
                value-format="yyyy-MM-dd HH:mm:ss"
                v-model="value2"
                type="datetimerange"
                align="right"
                unlink-panels
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                :picker-options="pickerOptions"
                @change="selectTime">
        </el-date-picker>
        <el-button style="width: 100px" @click="customerCreditList()" class="seekBtn" type="primary">搜索</el-button>
        <div style="height: 20px"></div>
      </div>
      <!--  表格   -->
      <div class="tableBox_three">
        <el-table :data="creditListData" border style="width: 100%">
          <el-table-column prop="rId" label="记录编号"></el-table-column>
          <el-table-column prop="cSaleman" label="业务员"></el-table-column>
          <el-table-column prop="cId" label="客户编号"></el-table-column>
          <el-table-column prop="cName" label="客户名称"></el-table-column>
          <el-table-column prop="aCreditlimit" label="信用金额"></el-table-column>
          <el-table-column prop="cAccount" label="银行账户"></el-table-column>
          <el-table-column prop="cBank" label="开户银行"></el-table-column>
          <el-table-column prop="cPhone" label="电话"></el-table-column>
          <el-table-column prop="cLixiren" label="联系人"></el-table-column>
        </el-table>
        <!-- 底部 -->
        <el-col :span="24" class="toolbar">
          <el-pagination
                  layout="sizes,prev, pager, next"
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :page-sizes="limitLists"
                  :page-size="limit"
                  :total="total"
                  style="float:right;"
          ></el-pagination>
        </el-col>
        <div style="height:30px"></div>
      </div>

    </div>
    <!--    *****************************************************新增授信*****************************************************     -->
    <div class="boxTwo" v-show="boxTwoShow">
      <!-- 内容模块的名字 -->
      <div class="boxName">
        <div class="bacColor"></div>
        <p>新增授信</p>
      </div>
      <!-- 搜索条件 -->
      <div class="seekBox">
        <div class="seekName">
          <p>搜索客户</p>
        </div>
        <div class="inputBox_seek">
          <p>选择工厂</p>
          <el-select class="elSelect" v-model="factoryValue" placeholder="请选择工厂">
            <el-option
                    v-for="item in factoryList"
                    :key="item.factorySerialNo"
                    :label="item.factoryName"
                    :value="item.factorySerialNo"
            ></el-option>
          </el-select>
        </div>

        <div class="inputBox_seek">
          <p>客户编号</p>
          <el-input placeholder="请输入内容" class="inputs_seek" v-model="mCusid"></el-input>
        </div>
        <div class="inputBox_seek">
          <p>客户名称</p>
          <el-input placeholder="请输入内容" class="inputs_seek"></el-input>
        </div>

        <el-button class="seekBtn" type="primary" @click="creditDetail()">搜索</el-button>
        <div style="height: 20px"></div>
      </div>

      <!--    新增授信表单    -->
      <div class="addForm" v-show="addFormShow">
        <div class="seekName">
          <p>客户信息</p>
        </div>


        <div class="inputBox">
          <p>联&#160系&#160人&#160 ：</p>
          <p class="messageText">{{creditDetailData.cLixiren}}</p>
        </div>

        <div class="inputBox" style="margin-left: 100px;">
          <p>电　　话 ：</p>
          <p class="messageText">{{creditDetailData.cPhone}}</p>
        </div>

        <div class="inputBox">
          <p>记录编号 ：</p>
          <p class="messageText">{{creditDetailData.rId}}</p>
        </div>
        <div class="inputBox" style="margin-left: 100px;">
          <p>业&#160务&#160员&#160 ：</p>
          <p class="messageText">{{creditDetailData.cSaleman}}</p>
        </div>
        <div class="inputBox">
          <p>开户银行 ：</p>
          <p class="messageText">{{creditDetailData.cBank}}</p>
        </div>
        <div class="inputBox" style="margin-left: 100px;">
          <p>银行账户 ：</p>
          <p class="messageText">{{creditDetailData.cAccount}}</p>
        </div>
        <div class="inputBox">
          <p>信用金额 ：</p>
          <el-input placeholder="请输入信用金额" class="inputs" v-model="aCreditlimit" type="number"></el-input>
        </div>
        <div class="inputBox" style="margin-left: 100px;">
          <p>金额确认 ：</p>
          <el-input placeholder="请确认金额" class="inputs" v-model="aCreditlimits" type="number"></el-input>
        </div>
        <div class="inputBox">
          <p>有效日期 ：</p>
          <el-date-picker
                  class="cEnd"
                  v-model="cEnd"
                  type="datetime"
                  placeholder="选择有效日期"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  @change="selectTime2"
          >
          </el-date-picker>
        </div>
        <div class="inputBox" style="margin-left: 100px;">
          <p class="textareaName">备　　注 ：</p>
          <el-input type="textarea" class="textareas" v-model="cMemo" placeholder="请输入备注信息"></el-input>
        </div>
        <!--提交按钮-->
        <el-row class="elRow">
          <el-button class="elBtn" type="primary" @click="customerCredit">确定提交</el-button>
        </el-row>

      </div>

      <div class="noData" v-show="noDataShow">
        <img src="../../assets/noData.png" alt="">
        <p>{{noDataText}}</p>
      </div>

      <!--  占位  -->
      <div style="height:100px;"></div>

    </div>
    <!--  占位  -->
    <div style="height:200px;"></div>
  </div>
</template>
<script>
  import { findValidFactory,customerCreditDetail,customerCredit,customerCreditList } from "../../request/api";
  export default {
    data() {
      return {
        dss:'',
        //  子菜单默认展示
        activeIndex: '1',
        //  二个模块
        boxOneShow: true,
        boxTwoShow: false,
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        value2: '',

        value: '',
        //  控制表单的显隐
        addFormShow: false,
        //  有效日期
        cEnd:'',
        //  工厂数组
        factoryList:'',
        //  工厂ID
        factoryValue:'',
        //  客户编号
        mCusid:'',
        //  客户授信信息
        creditDetailData:[],
        //  信用金额
        aCreditlimit:'0',
        aCreditlimits:'',
        //  备注信息
        cMemo:'',

        //  数据列表
        creditListData:[],
        page: 1,
        currentPage: 1, //当前页
        total: 0, //总页数
        limit: 20, //每页20条
        limitLists: [20, 50, 100, 200, 300, 500],
        //  客户编号
        mCusids:'',
        //  客户名字
        mCusname:'',

        //  暂无数据
        noDataShow: false,
        noDataText:'',

      }
    },
    //  接口调用
    activated(){
    //  调用工厂
      this.factoryData();
    //  请求数据列表
      this.customerCreditList();
    },
    methods: {
      //  子菜单
      handleSelect(key, keyPath) {
        if (keyPath == 1) {
          this.boxOneShow = true;
          this.boxTwoShow = false;
        } else {
          this.boxOneShow = false;
          this.boxTwoShow = true;
        }
      },
      //  请求工厂
      factoryData(){
        findValidFactory({

        }).then(res => {
          this.factoryList = res.data.data;
        }).catch(err => {

        });
      },
      //  请求列表
      customerCreditList(){
        customerCreditList({
          factorySerialNo: this.factoryValue,  //  工厂id
          mCusid: this.mCusids,   //  客户编号
          mCusname: this.mCusname,  //  客户名称
          startTime: this.startTime, //  开始时间
          endTime: this.endTime, //  结束时间
          offset: 0, //每页起始的编号
          limit: this.limit, //每页多少条
        }).then(res => {
          if (res.data.ret == 1) {
            this.$message({
              message: '查询成功！',
              type: 'success'
            });
          } else {
            this.$message.error(res.data.msg);
          }
          this.creditListData = res.data.data.data;

        }).catch(err => {

        });
      },
      search() {
        this.customerCreditList();
      },
      handleSizeChange(val) {
        console.log(val);
        this.limit = val;
        this.customerCreditList((this.currentPage - 1) * this.limit);
      },
      handleCurrentChange(val) {
        let that = this;
        that.currentPage = val;
        that.listData = [];
        that.customerCreditList((val - 1) * that.limit);
      },

      //  获取指定客户授信详情
      creditDetail(){
        if (this.factoryValue == '') {
          this.$notify({
            title: '警告',
            message: '请先选择工厂',
            type: 'warning'
          });
        } else {
          if (this.mCusid == '') {
            this.$notify({
              title: '警告',
              message: '请输入客户号',
              type: 'warning'
            });
          } else {
            customerCreditDetail({
              mCusid: this.mCusid,
              factorySerialNo: this.factoryValue,
            }).then(res => {
              //  判断返回
              this.creditDetailData = res.data.data;
              console.log(this.creditDetailData);
              if (res.data.ret == 0) {
                this.noDataShow = true;
                this.noDataText = res.data.msg;
              } else {
                if (this.creditDetailData == '' || this.creditDetailData == undefined) {
                  this.noDataShow = true;
                  this.noDataText = res.data.msg;
                  this.addFormShow = false;
                } else {
                  this.creditDetailData = res.data.data;
                  this.noDataShow = false;
                  this.addFormShow = true;

                }
              }

            }).catch(err => {

            });
          }
        }

      },
      //  提交新增纸卡
      customerCredit() {
        if (!this.aCreditlimit) {
          this.$message.error('请输入信用金额')
        } else {
          if (this.aCreditlimit != this.aCreditlimits){
            this.$message.error('请确认信用金额是否正确')
          } else {
            if (!this.cEnd) {
              this.$message.error('请选择有效日期')
            }else {
              customerCredit({
                mCusid: this.mCusid,
                factorySerialNo: this.factoryValue,
                cEnd: this.cEnd,
                aCreditlimit: this.aCreditlimit,
                cMemo: this.cMemo,
              }).then(res => {
                if(res.data.ret==1){
                  this.$message({
                    message: '办理成功！',
                    type: 'success'
                  });
                  this.boxOneShow = true;
                  this.boxTwoShow = false;
                  this.addFormShow = false;
                  this.noDataShow = true;
                  this.activeIndex = 1;
                  this.customerCreditList();
                }else{
                  this.$message.error(res.data.msg)
                }
              }).catch(err => {

              });
            }
          }
        }


      },

      // 时间选择
      selectTime(){
        this.startTime = this.value2[0]; // 开始时间
        this.endTime = this.value2[1]; // 结束时间
        console.log(this.startTime,'开始时间');
        console.log(this.endTime,'结束时间');
      },
      selectTime2(){
        var d = new Date(Date.parse(this.cEnd + ' ' + '23:59:59'.replace(/-/g,"/")));
        var curDate = new Date();
        if(d <=curDate){
          this.$message.error('不能选择比当前时间小的日期');
          this.cEnd = '';
        }else{

        }
      },
    }
  }
</script>
<style scoped src="../../css/financialManage/customerCredit.css">

</style>