<template>
  <div class="content">
    <div class="fast-money-back">
      <div class="fast-money-back-title">
        <span></span>
        <span>快速查询</span>
      </div>
      <div class="fast-money-back-div">
        <div>
          <span>发票编号</span>
          <el-input v-model="number" placeholder="请输入编号" class="input-area" clearable></el-input>
        </div>
        <div>
          <span>客户名称</span>
          <el-input
            v-model="name"
            placeholder="请输入客户名称"
            class="input-area"
            clearable
          ></el-input>
        </div>
        <div>
          <span>选择日期</span>
          <el-date-picker
            v-model="date"
            type="datetimerange"
            :picker-options="pickerOptions"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            align="right"
            class="choose-date"
            clearable
          ></el-date-picker>
        </div>
        <el-button type="primary" class="search-btn">点击查询</el-button>
      </div>
    </div>
    <!-- 快速查询列表 -->
    <div>
      <el-table :data="tableData" border style="width: 100%" v-loading="loading">
        <template v-for="(item,index) in tableHead">
          <el-table-column
            :prop="item.column_name"
            :label="item.column_comment"
            :key="index"
            width="200"
            show-overflow-tooltip
          ></el-table-column>
        </template>
      </el-table>
      <!-- 底部 -->
      <el-col :span="24" class="toolbar">
        <el-pagination
          layout="sizes, prev, pager, next"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :page-sizes="limitLists"
          :page-size="limit"
          :total="total"
          style="float:right;"
        ></el-pagination>
      </el-col>
    </div>
    <!-- 发票报表列表 -->
    <div>
      <div class="fast-money-back-title">
        <span></span>
        <span>发票报表</span>
      </div>
      <div>
        <el-table :data="tableData2" border style="width: 100%" v-loading="loading2">
          <template v-for="(item,index) in tableHead">
            <el-table-column
              :prop="item.column_name"
              :label="item.column_comment"
              :key="index"
              width="200"
              show-overflow-tooltip
            ></el-table-column>
          </template>
        </el-table>
        <!-- 底部 -->
        <el-col :span="24" class="toolbar">
          <el-pagination
            layout="sizes, prev, pager, next"
            @size-change="handleSizeChangeT"
            @current-change="handleCurrentChangeT"
            :page-sizes="limitLists2"
            :page-size="limit2"
            :total="total2"
            style="float:right;"
          ></el-pagination>
        </el-col>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      loading: false,
      total: 3, //总页数
      limit: 20, //每页20条
      limitLists: [20, 50, 100, 200, 300, 500],
      loading2: false,
      total2: 3, //总页数
      limit2: 20, //每页20条
      limitLists2: [20, 50, 100, 200, 300, 500],
      // 表头数据
      tableHead: [
        {
          column_name: "column_name",
          column_comment: "姓名",
          width: "150"
        },
        {
          column_name: "column_age",
          column_comment: "年龄",
          width: "150"
        },
        {
          column_name: "column_sex",
          column_comment: "性别",
          width: "150"
        },
        {
          column_name: "addr",
          column_comment: "地址",
          width: "300"
        }
      ],
      // 表格数据
      tableData: [
        {
          column_age: "322",
          column_name: "鞠婧祎2",
          column_sex: "女",
          addr: "河南省郑州市高新区11"
        },
        {
          column_age: "252",
          column_name: "魏大勋2",
          column_sex: "男",
          addr: "河南省郑州市高新区22"
        },
        {
          column_age: "182",
          column_name: "关晓彤2",
          column_sex: "女",
          addr: "河南省郑州市高新区33"
        }
      ],
      tableData2: [
        {
          column_age: "3",
          column_name: "鞠婧祎",
          column_sex: "女",
          addr: "河南省郑州市高新区11"
        },
        {
          column_age: "252",
          column_name: "魏大勋",
          column_sex: "男",
          addr: "河南省郑州市高新区22"
        },
        {
          column_age: "182",
          column_name: "关晓彤",
          column_sex: "女",
          addr: "河南省郑州市高新区33"
        }
      ],
      number: "", //发票编号
      name: "", //客户名称
      date: "",
      pickerOptions: {
        shortcuts: [
          {
            text: "最近一周",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近一个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近三个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            }
          }
        ]
      },
      clientList: [
        { value: "三全鲜食（北新泾店）", address: "长宁区新渔路144号" },
        {
          value: "Hot honey 首尔炸鸡（仙霞路）",
          address: "上海市长宁区淞虹路661号"
        },
        {
          value: "新旺角茶餐厅",
          address: "上海市普陀区真北路988号创邑金沙谷6号楼113"
        },
        { value: "泷千家(天山西路店)", address: "天山西路438号" },
        {
          value: "胖仙女纸杯蛋糕（上海凌空店）",
          address: "上海市长宁区金钟路968号1幢18号楼一层商铺18-101"
        },
        { value: "贡茶", address: "上海市长宁区金钟路633号" },
        {
          value: "豪大大香鸡排超级奶爸",
          address: "上海市嘉定区曹安公路曹安路1685号"
        },
        {
          value: "茶芝兰（奶茶，手抓饼）",
          address: "上海市普陀区同普路1435号"
        },
        { value: "十二泷町", address: "上海市北翟路1444弄81号B幢-107" },
        { value: "星移浓缩咖啡", address: "上海市嘉定区新郁路817号" },
        { value: "阿姨奶茶/豪大大", address: "嘉定区曹安路1611号" }
      ]
    };
  },
  created() {},
  methods: {
    querySearch(queryString, cb) {
      let restaurants = this.clientList;
      let results = queryString
        ? restaurants.filter(this.createFilter(queryString))
        : restaurants;
      // 调用 callback 返回建议列表的数据
      cb(results);
    },
    createFilter(queryString) {
      return restaurant => {
        return (
          restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) ===
          0
        );
      };
    },
    handleSelect(item) {
      console.log(item);
    },
    handleCurrentChange(val) {},
    handleSizeChange(val) {},
    handleCurrentChangeT(val) {},
    handleSizeChangeT(val) {}
  }
};
</script>
<style scoped src="../../css/financialManage/invoiceStatements.css">
</style>