<template>
  <div class="content">
    <div class="register-div">
      <div class="fast-money-back-title">
        <span></span>
        <span>发票登记</span>
      </div>
      <div class="register-submit-div">
        <div>
          <span>批量添加发票</span>
          <el-input
            v-model="startNumber"
            placeholder="请输入开始编号"
            class="input-area"
            @change="getInputVal"
            clearable
          ></el-input>
          <el-input
            v-model="endNumber"
            placeholder="请输入结束编号"
            class="input-area"
            @change="getInputVal"
            clearable
          ></el-input>
        </div>
        <div>
          <span>添加单张发票</span>
          <el-input
            v-model="oneNumber"
            placeholder="请输入发票编号"
            class="input-area"
            :disabled="disabled"
            clearable
          ></el-input>
        </div>
        <el-button type="primary" class="search-btn" @click="submit">点击提交</el-button>
      </div>
    </div>
    <div>
      <div class="fast-money-back-title">
        <span></span>
        <span>快速查询</span>
      </div>
      <div class="register-submit-div">
        <div>
          <span>客户编号</span>
          <el-input
            v-model="clientNumber"
            placeholder="请输入客户编号"
            class="input-area"
            clearable
          ></el-input>
        </div>
        <div>
          <span>选择时间</span>
          <el-date-picker
           v-model="date"
            type="datetimerange"
            :picker-options="pickerOptions"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            align="right"
            class="choose-date"
            clearable
          ></el-date-picker>
        </div>
        <el-button type="primary" class="search-btn">点击查询</el-button>
      </div>
      <!-- 快速查询列表 -->
      <div>
        <el-table :data="tableData" border style="width: 100%" v-loading="loading">
          <template v-for="(item,index) in tableHead">
            <el-table-column
              :prop="item.column_name"
              :label="item.column_comment"
              :key="index"
              width="200"
              show-overflow-tooltip
            ></el-table-column>
          </template>
        </el-table>
        <!-- 底部 -->
        <el-col :span="24" class="toolbar">
          <el-pagination
            layout="sizes, prev, pager, next"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :page-sizes="limitLists"
            :page-size="limit"
            :total="total"
            style="float:right;"
          ></el-pagination>
        </el-col>
      </div>
    </div>
    <!-- 发票报表列表 -->
    <div>
      <div class="fast-money-back-title">
        <span></span>
        <span>发票报表</span>
      </div>
      <div>
        <el-table :data="tableData2" border style="width: 100%" v-loading="loading2">
          <template v-for="(item,index) in tableHead">
            <el-table-column
              :prop="item.column_name"
              :label="item.column_comment"
              :key="index"
              width="200"
              show-overflow-tooltip
            ></el-table-column>
          </template>
        </el-table>
        <!-- 底部 -->
        <el-col :span="24" class="toolbar">
          <el-pagination
            layout="sizes, prev, pager, next"
            @size-change="handleSizeChangeT"
            @current-change="handleCurrentChangeT"
            :page-sizes="limitLists2"
            :page-size="limit2"
            :total="total2"
            style="float:right;"
          ></el-pagination>
        </el-col>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      startNumber: "",
      endNumber: "",
      oneNumber: "",
      disabled: false,
      clientNumber: "",
      date: "",
      loading: false,
      total: 3, //总页数
      limit: 20, //每页20条
      limitLists: [20, 50, 100, 200, 300, 500],
      loading2: false,
      total2: 3, //总页数
      limit2: 20, //每页20条
      limitLists2: [20, 50, 100, 200, 300, 500],
      // 表头数据
      tableHead: [
        {
          column_name: "column_name",
          column_comment: "姓名",
          width: "150"
        },
        {
          column_name: "column_age",
          column_comment: "年龄",
          width: "150"
        },
        {
          column_name: "column_sex",
          column_comment: "性别",
          width: "150"
        },
        {
          column_name: "addr",
          column_comment: "地址",
          width: "300"
        }
      ],
      // 表格数据
      tableData: [
        {
          column_age: "322",
          column_name: "鞠婧祎2",
          column_sex: "女",
          addr: "河南省郑州市高新区11"
        },
        {
          column_age: "252",
          column_name: "魏大勋2",
          column_sex: "男",
          addr: "河南省郑州市高新区22"
        },
        {
          column_age: "182",
          column_name: "关晓彤2",
          column_sex: "女",
          addr: "河南省郑州市高新区33"
        }
      ],
      tableData2: [
        {
          column_age: "3",
          column_name: "鞠婧祎",
          column_sex: "女",
          addr: "河南省郑州市高新区11"
        },
        {
          column_age: "252",
          column_name: "魏大勋",
          column_sex: "男",
          addr: "河南省郑州市高新区22"
        },
        {
          column_age: "182",
          column_name: "关晓彤",
          column_sex: "女",
          addr: "河南省郑州市高新区33"
        }
      ],
      pickerOptions: {
        shortcuts: [
          {
            text: "最近一周",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近一个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近三个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            }
          }
        ]
      },
    };
  },
  created() {},
  methods: {
    getInputVal() {
      if (this.startNumber && this.endNumber) {
        this.oneNumber = "";
        this.disabled = true;
      } else {
        this.disabled = false;
      }
    },
    handleSelect(item) {
      console.log(item);
    },
    handleCurrentChange(val) {},
    handleSizeChange(val) {},
    handleCurrentChangeT(val) {},
    handleSizeChangeT(val) {}
  }
};
</script>
<style scoped src="../../css/financialManage/invoiceRegister.css">
</style>