<template>
  <div class="content">
    <div class="fast-money-back">
      <div class="fast-money-back-title">
        <span></span>
        <span>快速回款</span>
      </div>
      <div class="fast-money-back-div">
        <div>
          <span>选择工厂</span>
          <el-select v-model="factoryValue" placeholder="请选择工厂" class="input-area">
            <el-option
              v-for="item in factoryList"
              :key="item.factorySerialNo"
              :label="item.factoryName"
              :value="item.factorySerialNo"
            ></el-option>
          </el-select>
        </div>
        <div>
          <span>客户编号</span>
          <el-input v-model="clientNumber" placeholder="请输入客户编号" class="input-area" clearable></el-input>
        </div>
        <div>
          <span>客户名称</span>
          <el-input v-model="clientName" placeholder="请输入客户名称" class="input-area" clearable></el-input>
        </div>
        <el-button type="primary" class="search-btn" @click="showAlert">点击回款</el-button>
      </div>
    </div>
    <!-- 快速查询 -->
    <div class="loan-area">
      <div class="title-div">
        <div class="loan-area-title">
          <span></span>
          <span>快速查询</span>
        </div>
        <el-button type="primary" @click="exportExcel" style="margin-right:10px">导出报表</el-button>
      </div>
      <div class="search-div">
        <div>
          <span>客户编号</span>
          <el-input v-model="searchClientNumber" placeholder="请输入客户编号" class="input-area" clearable></el-input>
        </div>
        <div>
          <span>客户名称</span>
          <el-input v-model="searchClientName" placeholder="请输入客户名称" class="input-area" clearable></el-input>
        </div>
        <div>
          <span>选择时间</span>
          <el-date-picker
            v-model="date"
            type="datetimerange"
            :picker-options="pickerOptions"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            align="right"
            class="choose-date"
            @change="selTime"
            value-format="yyyy-MM-dd HH:mm:ss"
            clearable
          ></el-date-picker>
        </div>
        <el-button type="primary" class="search-btn" @click="searchList">点击查询</el-button>
      </div>
      <!-- 搜索的列表 -->
      <div class="search-list">
        <el-table :data="tableData" border style="width: 100%" v-loading="loading">
          <el-table-column prop="rId" label="记录编号" width="100" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mSaleman" label="业务员" width="180" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mCusid" label="客户编号" show-overflow-tooltip width="200"></el-table-column>
          <el-table-column prop="mCusname" label="客户名称" width="180" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mPayment" label="付款方式" width="150" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mMoney" label="金额" width="150" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mMan" label="操作人" width="180" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mDate" label="操作日期" width="150" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mMemo" label="备注信息" width="150" show-overflow-tooltip></el-table-column>
        </el-table>
        <!-- 底部 -->
        <el-col :span="24" class="toolbar">
          <el-pagination
            layout="sizes, prev, pager, next"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :page-sizes="limitLists"
            :page-size="limit"
            :total="total"
            style="float:right;"
          ></el-pagination>
        </el-col>
      </div>
      <!-- 回款记录(所有) -->
      <div class="totalList">
        <div class="title-div">
          <div class="loan-area-title">
            <span></span>
            <span>回款记录</span>
          </div>
          <el-button type="primary" @click="exportExcelAll">导出报表</el-button>
        </div>
        <div class="totalList-div">
          <el-table :data="totalTableData" border style="width: 100%" v-loading="loading2">
            <el-table-column prop="rId" label="记录编号" width="100" show-overflow-tooltip></el-table-column>
            <el-table-column prop="mSaleman" label="业务员" width="180" show-overflow-tooltip></el-table-column>
            <el-table-column prop="mCusid" label="客户编号" show-overflow-tooltip width="200"></el-table-column>
            <el-table-column prop="mCusname" label="客户名称" width="180" show-overflow-tooltip></el-table-column>
            <el-table-column prop="mPayment" label="付款方式" width="150" show-overflow-tooltip></el-table-column>
            <el-table-column prop="mMoney" label="金额" width="150" show-overflow-tooltip></el-table-column>
            <el-table-column prop="mMan" label="操作人" width="180" show-overflow-tooltip></el-table-column>
            <el-table-column prop="mDate" label="操作日期" width="150" show-overflow-tooltip></el-table-column>
            <el-table-column prop="mMemo" label="备注信息" width="150" show-overflow-tooltip></el-table-column>
          </el-table>
          <!-- 底部 -->
          <el-col :span="24" class="toolbar">
            <el-pagination
              layout="sizes, prev, pager, next"
              @size-change="handleSizeChangeT"
              @current-change="handleCurrentChangeT"
              :page-sizes="limitLists2"
              :page-size="limit2"
              :total="total2"
              style="float:right;"
            ></el-pagination>
          </el-col>
        </div>
      </div>
    </div>
    <!-- 弹窗区域(回款) -->
    <div>
      <el-dialog :visible.sync="dialogVisible" width="70%" :before-close="handleClose">
        <div class="alert-div">
          <div>
            <span class="text-title">记录编号</span>
            <el-input v-model="recordNumber" placeholder="请输入记录编号" class="text-input-area" readonly></el-input>
          </div>
          <br />
          <div>
            <div>
              <span class="text-title">业务员</span>
              <el-select v-model="salesmanName" placeholder="请选择业务员" class="text-input-area">
                <el-option
                  v-for="item in salesManList"
                  :key="item.S_ID"
                  :label="item.S_Name"
                  :value="item.S_ID"
                ></el-option>
              </el-select>
            </div>
            <div>
              <span class="text-title">客户编号</span>
              <el-input
                v-model="clientNumber2"
                placeholder="请输入客户编号"
                class="text-input-area"
                readonly
              ></el-input>
            </div>
            <div>
              <span class="text-title">客户名称</span>
              <el-input
                v-model="clientName2"
                placeholder="请输入客户名称"
                class="text-input-area"
                readonly
              ></el-input>
            </div>
          </div>
          <br />
          <div>
            <div>
              <span class="text-title">付款方式</span>
              <el-select v-model="payWay" placeholder="请选择付款方式" class="text-input-area">
                <el-option
                  v-for="item in payList"
                  :key="item.D_ID"
                  :label="item.D_Value"
                  :value="item.D_Value"
                ></el-option>
              </el-select>
            </div>
            <div>
              <span class="text-title">付款金额</span>
              <el-input
                v-model="money"
                placeholder="请输入付款金额"
                class="text-input-area"
                clearable
                type="number"
              ></el-input>
            </div>
            <div>
              <span class="text-title">操作人员</span>
              <el-input v-model="operator" placeholder="请输入操作人员" class="text-input-area" readonly></el-input>
            </div>
          </div>
          <br />
          <div>
            <span class="text-title">备注信息</span>
            <el-input
              v-model="remark"
              placeholder="请输入备注信息"
              class="text-input-textarea"
              type="textarea"
              :autosize="{ minRows: 3}"
              clearable
            ></el-input>
          </div>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">点击取消</el-button>
          <el-button
            type="primary"
            @click="confirmSubmit"
            :disabled="disabled"
            :loading="disabled"
          >确定提交</el-button>
        </span>
      </el-dialog>
    </div>
    <!-- 查看明细 -->
    <div>
      <el-dialog title="详细信息" :visible.sync="detailAlert" width="30%" :before-close="handleClose">
        <span slot="footer">
          <el-button @click="detailAlert=false">取 消</el-button>
          <el-button type="primary" @click="detailAlert=false">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>
<script>
import {
  financeList,
  findValidFactory,
  findCustomer,
  querySalesManList,
  queryPayTypeList,
  customerPayment
} from "../../request/api";
export default {
  data() {
    return {
      disabled: false, //按钮加载
      factoryList: [],
      factoryValue: "", //所选工厂
      detailAlert: false, //明细弹窗
      clientNumber: "", //客户编号(快速回款)
      clientName: "", //客户名称(快速回款)
      clientNumber2: "", //弹窗客户编号
      clientName2: "", //弹窗客户名称
      dialogVisible: false,
      recordNumber: "", //记录编号
      payWay: "", //付款方式
      salesmanName: "",
      money: "", //付款金额
      operator: "", //操作人员
      remark: "", //备注信息
      payList: [], //付款方式列表
      salesManList: [], //业务员列表
      searchClientNumber: "", //编号(快速查询)
      searchClientName: "", //客户名称(快速查询)
      date: "", //日期
      startTime: "",
      endTime: "",
      loading: false,
      loading2: false,
      total: 0, //总页数
      limit: 20, //每页20条
      currentPage: 1, //当前页
      limitLists: [20, 50, 100, 200, 300, 500],
      total2: 0, //总页数
      limit2: 20, //每页20条
      currentPage2: 1, //当前页
      limitLists2: [20, 50, 100, 200, 300, 500],
      tableData: [],
      totalTableData: [],
      pickerOptions: {
        shortcuts: [
          {
            text: "最近一周",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近一个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近三个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            }
          }
        ]
      }
    };
  },
  activated() {
    this.getTotalList(0);
    this.getFactory();
  },
  methods: {
    //请求工厂
    getFactory() {
      let that = this;
      findValidFactory({})
        .then(res => {
          if (res.data.ret == 1) {
            that.factoryList = res.data.data;
          } else {
            that.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          that.$message.error("获取工厂数据失败,请稍后再试");
        });
    },
    selTime(val) {
      // console.log(val)
      this.startTime = val[0];
      this.endTime = val[1];
      console.log(this.startTime, this.endTime);
    },
    searchList() {
      if (!this.searchClientNumber && !this.searchClientName && !this.date) {
        this.$message.error("请至少输入一个搜索条件");
        return;
      }
      this.getSearchList(0);
    },
    getSearchList(p) {
      this.loading = true;
      financeList({
        mCusid: this.searchClientNumber,
        mCusname: this.searchClientName,
        startTime: this.startTime,
        endTime: this.endTime,
        offset: p,
        limit: this.limit
      })
        .then(res => {
          this.loading = false;
          if (res.data.ret == 1) {
            this.tableData = res.data.data.data;
            this.total = res.data.data.total;
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.loading = false;
          this.$message.error("搜索数据失败,请稍后再试");
        });
    },
    getTotalList(p) {
      this.loading2 = true;
      financeList({
        offset: p,
        limit: this.limit2
      })
        .then(res => {
          this.loading2 = false;
          if (res.data.ret == 1) {
            this.totalTableData = res.data.data.data;
            this.total2 = res.data.data.total;
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.loading2 = false;
          this.$message.error("获取货款查询数据失败,请稍后再试");
        });
    },
    showAlert() {
      if (!this.factoryValue) {
        this.$message.error("请选择工厂");
        return;
      }
      if (!this.clientNumber && !this.clientName) {
        this.$message.error("请输入客户名称或者客户编号");
        return false;
      }
      this.dialogVisible = true;
      this.getInfo();
      this.getSalesManList();
      this.getPayTypeList();
    },
    getSalesManList() {
      querySalesManList({
        factorySerialNo: this.factoryValue
      })
        .then(res => {
          if (res.data.ret == 1) {
            this.salesManList = res.data.data.salesManList;
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.$message.error("查询业务员列表失败,请稍后重试");
        });
    },
    getPayTypeList() {
      queryPayTypeList({
        factorySerialNo: this.factoryValue
      })
        .then(res => {
          if (res.data.ret == 1) {
            this.payList = res.data.data.payTypeList;
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.$message.error("查询付款方式失败,请稍后重试");
        });
    },
    getInfo() {
      findCustomer({
        factorySerialNo: this.factoryValue,
        mCusid: this.clientNumber,
        mCusname: this.clientName
      })
        .then(res => {
          if (res.data.ret == 1) {
            this.recordNumber = res.data.data.rId;
            this.clientNumber2 = res.data.data.cId;
            this.clientName2 = res.data.data.cName;
            this.operator = res.data.data.loginName;
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.$message.error("查询回款信息失败,请稍后重试");
        });
    },
    handleClose(done) {
      this.$confirm("确认关闭?")
        .then(_ => {
          done();
        })
        .catch(_ => {});
    },
    handleDetail() {
      this.detailAlert = true;
    },
    handleCurrentChange(val) {
      console.log(val);
      let that = this;
      that.currentPage = val;
      that.tableData = [];
      that.getSearchList((val - 1) * that.limit);
    },
    handleSizeChange(val) {
      console.log(val);
      this.limit = val;
      this.getSearchList((this.currentPage - 1) * this.limit);
    },
    handleCurrentChangeT(val) {
      console.log(val);
      let that = this;
      that.currentPage2 = val;
      that.totalTableData = [];
      that.getTotalList((val - 1) * that.limit2);
    },
    handleSizeChangeT(val) {
      console.log(val);
      this.limit2 = val;
      this.getTotalList((this.currentPage2 - 1) * this.limit2);
    },
    //确认提交
    confirmSubmit() {
      if (!this.salesmanName) {
        this.$message.error("请选择业务员");
        return;
      }
      if (!this.payWay) {
        this.$message.error("请选择付款方式");
        return;
      }
      if (!this.money) {
        this.$message.error("请输入付款金额");
        return;
      }
      this.disabled = true;
      customerPayment({
        mCusid: this.clientNumber2,
        mCusname: this.clientName2,
        factorySerialNo: this.factoryValue,
        mSaleman: this.salesmanName,
        mPayment: this.payWay,
        mMoney: this.money,
        cMemo: this.remark
      })
        .then(res => {
          if (res.data.ret == 1) {
            this.disabled = false;
            this.dialogVisible = false;
            this.$message.success("货款回收成功");
            this.$confirm("是否生成收据?", "提示")
              .then(_ => {})
              .catch(_ => {});
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.$message.error("货款回收失败,请稍后再试");
        });
    },
    //导出快速查询报表信息
    exportExcel(){
      if (this.tableData == "") {
        this.$alert("暂无可导出数据", "提示", {
          confirmButtonText: "确定",
          type: "warning"
        })
          .then(res => {})
          .catch(err => {});
        return false;
      }
      require.ensure([], () => {
        const { export_json_to_excel } = require("../../excel/Export2Excel");
        let tHeader, filterVal;
        tHeader = [
          "记录编号",
          "业务员",
          "客户编号",
          "客户名称",
          "付款方式",
          "金额",
          "操作人",
          "操作日期",
          "备注信息"
        ];
        filterVal = [
          "rId",
          "mSaleman",
          "mCusid",
          "mCusname",
          "mPayment",
          "mMoney",
          "mMan",
          "mDate",
          "mMemo"
        ];
        const list = this.tableData; //把data里的tableData存到list
        const data = this.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, "快速回款报表");
      });
    },
    //导出所有报表信息
    exportExcelAll() {
      if (this.totalTableData == "") {
        this.$alert("暂无可导出数据", "提示", {
          confirmButtonText: "确定",
          type: "warning"
        })
          .then(res => {})
          .catch(err => {});
        return false;
      }
      require.ensure([], () => {
        const { export_json_to_excel } = require("../../excel/Export2Excel");
        let tHeader, filterVal;
        tHeader = [
          "记录编号",
          "业务员",
          "客户编号",
          "客户名称",
          "付款方式",
          "金额",
          "操作人",
          "操作日期",
          "备注信息"
        ];
        filterVal = [
          "rId",
          "mSaleman",
          "mCusid",
          "mCusname",
          "mPayment",
          "mMoney",
          "mMan",
          "mDate",
          "mMemo"
        ];
        const listAll = this.totalTableData; //把data里的tableData存到list
        const dataAll = this.formatJson(filterVal, listAll);
        export_json_to_excel(tHeader, dataAll, "回款记录报表");
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
  }
};
</script>
<style scoped src="../../css/financialManage/loanRecovery.css">
</style>