<template>
  <div class="content">
    <div class="loan-area">
      <div class="title-div">
        <div class="loan-area-title">
          <span></span>
          <span>快速查询</span>
        </div>
        <el-button type="primary" @click="exportExcel" style="margin-right:10px">导出报表</el-button>
      </div>
      <div class="search-div">
        <div>
          <span>客户编号</span>
          <el-input v-model="number" placeholder="请输入客户编号" class="input-area" clearable></el-input>
        </div>
        <div>
          <span>客户名称</span>
          <el-input v-model="name" placeholder="请输入客户名称" class="input-area" clearable></el-input>
        </div>
        <div>
          <span>选择时间</span>
          <el-date-picker
            v-model="date"
            type="datetimerange"
            :picker-options="pickerOptions"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            align="right"
            class="choose-date"
            @change="selTime"
            value-format="yyyy-MM-dd HH:mm:ss"
            clearable
          ></el-date-picker>
        </div>
        <el-button type="primary" class="search-btn" @click="searchList">点击查询</el-button>
      </div>
      <!-- 搜索的列表 -->
      <div class="search-list">
        <el-table :data="tableData" border style="width: 100%" v-loading="loading">
          <el-table-column prop="rId" label="记录编号" width="100" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mSaleman" label="业务员" width="180" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mCusid" label="客户编号" show-overflow-tooltip width="200"></el-table-column>
          <el-table-column prop="mCusname" label="客户名称" width="180" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mPayment" label="付款方式" width="150" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mMoney" label="金额" width="150" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mMan" label="操作人" width="150" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mDate" label="操作日期" width="170" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mMemo" label="备注信息" width="150" show-overflow-tooltip></el-table-column>
        </el-table>
        <!-- 底部 -->
        <el-col :span="24" class="toolbar">
          <el-pagination
            layout="sizes, prev, pager, next"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :page-sizes="limitLists"
            :page-size="limit"
            :total="total"
            style="float:right;"
          ></el-pagination>
        </el-col>
      </div>
    </div>
    <!-- 查询列表(所有) -->
    <div class="totalList">
      <div class="title-div">
        <div class="loan-area-title">
          <span></span>
          <span>查询列表</span>
        </div>
        <el-button type="primary" @click="exportExcelAll">导出报表</el-button>
      </div>
      <div class="totalList-div">
        <el-table :data="totalTableData" border style="width: 100%" v-loading="loading2">
          <el-table-column prop="rId" label="记录编号" width="100" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mSaleman" label="业务员" width="180" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mCusid" label="客户编号" show-overflow-tooltip width="200"></el-table-column>
          <el-table-column prop="mCusname" label="客户名称" width="180" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mPayment" label="付款方式" width="150" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mMoney" label="金额" width="150" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mMan" label="操作人" width="150" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mDate" label="操作日期" width="170" show-overflow-tooltip></el-table-column>
          <el-table-column prop="mMemo" label="备注信息" width="150" show-overflow-tooltip></el-table-column>
        </el-table>
        <!-- 底部 -->
        <el-col :span="24" class="toolbar">
          <el-pagination
            layout="sizes, prev, pager, next"
            @size-change="handleSizeChangeT"
            @current-change="handleCurrentChangeT"
            :page-sizes="limitLists2"
            :page-size="limit2"
            :total="total2"
            style="float:right;"
          ></el-pagination>
        </el-col>
      </div>
    </div>
  </div>
</template>
<script>
import { financeList } from "../../request/api";
export default {
  data() {
    return {
      number: "", //编号
      name: "", //客户名称,
      date: "", //日期
      startTime: "",
      endTime: "",
      loading: false,
      loading2: false,
      total: 0, //总页数
      limit: 20, //每页20条
      currentPage: 1, //当前页
      limitLists: [20, 50, 100, 200, 300, 500],
      total2: 0, //总页数
      limit2: 20, //每页20条
      currentPage2: 1, //当前页
      limitLists2: [20, 50, 100, 200, 300, 500],
      tableData: [],
      totalTableData: [],
      pickerOptions: {
        shortcuts: [
          {
            text: "最近一周",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近一个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近三个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            }
          }
        ]
      }
    };
  },
  activated() {
    this.getTotalList(0);
  },
  methods: {
    selTime(val) {
      // console.log(val)
      this.startTime = val[0];
      this.endTime = val[1];
      console.log(this.startTime, this.endTime);
    },
    //查询
    searchList() {
      if (!this.number && !this.name && !this.date) {
        this.$message.error("请至少输入一个搜索条件");
        return;
      }
      this.getSearchList(0);
    },
    getSearchList(p) {
      this.loading = true;
      financeList({
        mCusid: this.number,
        mCusname: this.name,
        startTime: this.startTime,
        endTime: this.endTime,
        offset: p,
        limit: this.limit
      })
        .then(res => {
          this.loading = false;
          if (res.data.ret == 1) {
            this.tableData = res.data.data.data;
            this.total = res.data.data.total;
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.loading = false;
          this.$message.error("搜索数据失败,请稍后再试");
        });
    },
    getTotalList(p) {
      this.loading2 = true;
      financeList({
        offset: p,
        limit: this.limit2
      })
        .then(res => {
          this.loading2 = false;
          if (res.data.ret == 1) {
            this.totalTableData = res.data.data.data;
            this.total2 = res.data.data.total;
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch(err => {
          this.loading2 = false;
          this.$message.error("获取货款查询数据失败,请稍后再试");
        });
    },
    handleCurrentChange(val) {
      let that = this;
      that.currentPage = val;
      that.tableData = [];
      that.getSearchList((val - 1) * that.limit);
    },
    handleSizeChange(val) {
      this.limit = val;
      this.getSearchList((this.currentPage - 1) * this.limit);
    },
    handleCurrentChangeT(val) {
      console.log(val);
      let that = this;
      that.currentPage2 = val;
      that.totalTableData = [];
      that.getTotalList((val - 1) * that.limit2);
    },
    handleSizeChangeT(val) {
      console.log(val);
      this.limit2 = val;
      this.getTotalList((this.currentPage2 - 1) * this.limit2);
    },
    //导出快速查询报表信息
    exportExcel(){
      if (this.tableData == "") {
        this.$alert("暂无可导出数据", "提示", {
          confirmButtonText: "确定",
          type: "warning"
        })
          .then(res => {})
          .catch(err => {});
        return false;
      }
      require.ensure([], () => {
        const { export_json_to_excel } = require("../../excel/Export2Excel");
        let tHeader, filterVal;
        tHeader = [
          "记录编号",
          "业务员",
          "客户编号",
          "客户名称",
          "付款方式",
          "金额",
          "操作人",
          "操作日期",
          "备注信息"
        ];
        filterVal = [
          "rId",
          "mSaleman",
          "mCusid",
          "mCusname",
          "mPayment",
          "mMoney",
          "mMan",
          "mDate",
          "mMemo"
        ];
        const list = this.tableData; //把data里的tableData存到list
        const data = this.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, "货款快速查询报表");
      });
    },
    //导出所有报表信息
    exportExcelAll() {
      if (this.totalTableData == "") {
        this.$alert("暂无可导出数据", "提示", {
          confirmButtonText: "确定",
          type: "warning"
        })
          .then(res => {})
          .catch(err => {});
        return false;
      }
      require.ensure([], () => {
        const { export_json_to_excel } = require("../../excel/Export2Excel");
        let tHeader, filterVal;
        tHeader = [
          "记录编号",
          "业务员",
          "客户编号",
          "客户名称",
          "付款方式",
          "金额",
          "操作人",
          "操作日期",
          "备注信息"
        ];
        filterVal = [
          "rId",
          "mSaleman",
          "mCusid",
          "mCusname",
          "mPayment",
          "mMoney",
          "mMan",
          "mDate",
          "mMemo"
        ];
        const listAll = this.totalTableData; //把data里的tableData存到list
        const dataAll = this.formatJson(filterVal, listAll);
        export_json_to_excel(tHeader, dataAll, "货款查询总信息报表");
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
  }
};
</script>
<style scoped src="../../css/financialManage/loanFor.css">
</style>