<template>
  <div>
    <div class="content">
      <img src="../../assets/background.png" alt class="background" />
    </div>
    <div class="middle-area">
      <img src="../../assets/back.png" alt class="middle-area-img" />
    </div>
    <div class="logo-text">
      <img src="../../assets/logo.png" alt />
      <div></div>
      <span>一 卡通管理后台</span>
    </div>
    <img src="../../assets/style.png" alt class="left-bg" />
    <img src="../../assets/input_back.png" alt class="right-bg" />
    <div class="input-area">
      <el-form
        :model="ruleForm"
        ref="ruleForm"
        :rules="rules"
        class="input-area-form"
        label-width="0px"
      >
        <h3 class="title">系统用户登录</h3>
        <el-form-item label prop="account" class="form-input">
          <el-input v-model="ruleForm.account" placeholder="账号" type="text" clearable></el-input>
        </el-form-item>
        <el-form-item label prop="checkPass" class="form-input">
          <el-input v-model="ruleForm.checkPass" placeholder="密码" type="password" clearable></el-input>
        </el-form-item>
        <span class="form-input-text">(需包含大写字母、小写字母、数字、特殊字符其中最少三项)</span>
        <el-form-item label prop="seccode" class="form-input-seccode">
          <el-input v-model="ruleForm.seccode" placeholder="验证码" type="text" clearable></el-input>
          <div class="login-code" @click="refreshCode">
            <!--验证码组件-->
            <s-identify :identifyCode="identifyCode"></s-identify>
          </div>
        </el-form-item>
        <el-form-item class="form-input">
          <el-button
            type="primary"
            @click.native.prevent="onSubmit('ruleForm')"
            class="submit-btn"
            :loading="loading"
            round
          >登录</el-button>
        </el-form-item>
      </el-form>
    </div>

    <!-- 弹窗修改密码 -->
    <el-dialog title="修改密码" :visible.sync="dialogVisible" width="30%" :before-close="handleClose">
      <div>
        <el-form
          :model="ruleForm"
          ref="editForm"
          :rules="editRules"
          label-position="right"
          label-width="80px"
        >
          <el-form-item label="原始账号" prop="account">
            <el-input v-model="ruleForm.account" readonly></el-input>
          </el-form-item>
          <el-form-item label="原始密码" prop="checkPass">
            <el-input v-model="ruleForm.checkPass" readonly></el-input>
          </el-form-item>
          <el-form-item label="新密码" prop="newPass">
            <el-input v-model="ruleForm.newPass" type="password" placeholder="请输入新密码" clearable></el-input>
          </el-form-item>
          <el-form-item label="确认密码" prop="confirmNewPass">
            <el-input
              v-model="ruleForm.confirmNewPass"
              type="password"
              placeholder="请再次输入新密码"
              clearable
            ></el-input>
          </el-form-item>
        </el-form>
      </div>
      <span slot="footer" class="dialog-footer">
        <!-- <el-button @click="dialogVisible = false">取 消</el-button> -->
        <el-button type="primary" @click="EditPassword('editForm')" :loading="loading2">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { login, editPassword } from "../../request/api";
import SIdentify from "./sidentify";
export default {
  components: { SIdentify },
  data() {
    let validatePass = (rule, value, callback) =>{
      let reg=/^(?![a-zA-Z]+$)(?![A-Z0-9]+$)(?![A-Z\W_]+$)(?![a-z0-9]+$)(?![a-z\W_]+$)(?![0-9\W_]+$)[a-zA-Z0-9\W_]{8,20}$/;
      if (value === "") {
        callback(new Error("请输入密码"));
      } else if (!reg.test(value)) {
        callback(new Error("请输入格式正确的密码!"));
      } else {
        callback();
      }
    };
    let validatePass2 = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请再次输入密码"));
      } else if (value !== this.ruleForm.newPass) {
        callback(new Error("两次输入密码不一致!"));
      } else {
        callback();
      }
    };
    return {
      ruleForm: {
        account: "",
        checkPass: "",
        seccode: "",
        newPass: "",
        confirmNewPass: ""
      },
      rules: {
        account: [{ required: true, message: "请输入账号", trigger: "blur" }],
        checkPass: [{ required: true, message: "请输入密码", trigger: "blur" }],
        seccode: [{ required: true, message: "请输入验证码", trigger: "blur" }]
      },
      editRules: {
        newPass: [{ required: true, validator: validatePass, trigger: "blur" }],
        confirmNewPass: [
          { required: true, trigger: "blur", validator: validatePass2 }
        ]
      },
      checked: true,
      loading: false,
      loading2: false,
      identifyCodes: "1234567890",
      identifyCode: "",
      code: "", //输入的验证码
      dialogVisible: false,
      defaultPassword: ""
    };
  },
  created() {
    // this.refreshCode();
  },
  mounted() {
    this.identifyCode = "";
    this.makeCode(this.identifyCodes, 4);
  },
  methods: {
    //验证码
    randomNum(min, max) {
      return Math.floor(Math.random() * (max - min) + min);
    },
    refreshCode() {
      this.identifyCode = "";
      this.makeCode(this.identifyCodes, 4);
    },
    makeCode(o, l) {
      for (let i = 0; i < l; i++) {
        this.identifyCode += this.identifyCodes[
          this.randomNum(0, this.identifyCodes.length)
        ];
      }
    },
    onSubmit(formName) {
      let that = this;
      that.$refs[formName].validate(valid => {
        if (valid) {
          if (this.ruleForm.seccode != this.identifyCode) {
            this.$message({
              message: "验证码错误，请重新输入",
              type: "warning"
            });
            this.refreshCode();
            return false;
          }
          // sessionStorage.setItem("key", "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhZG1pbiIsImV4cCI6MTU3ODczMDA3NiwianRpIjoxfQ.PNSNlnY_6hXdiWALnyjOr9yrd01X221It-09BDMcyylLK7T43VGMIrAxFDhcuWy3sbyhRSXyj4SoOL9lUCvTwQ");
          // that.$router.push({
          //   path: "/index"
          // });
          that.loading = true;
          login({
            username: that.ruleForm.account,
            password: that.ruleForm.checkPass
          })
            .then(res => {
              that.loading = false;
              if (res.data.ret == 1) {
                this.defaultPassword = res.data.data.defaultPassword;
                sessionStorage.setItem("key", res.data.data.token);
                sessionStorage.setItem("realName", res.data.data.realName);
                if (!this.defaultPassword) {
                  that.$message.success("登录成功");
                  that.$router.push({
                    path: "/index"
                  });
                } else {
                  this.dialogVisible = true;
                }
              } else {
                that.loading = false;
                that.$message.error(res.data.msg);
              }
            })
            .catch(err => {
              that.loading = false;
              that.$message.error("失败，请稍后重试");
            });
        }
      });
    },
    handleClose(done) {
      this.$alert("请先修改密码", "提示").then(_ => {
        // done();
      });
    },
    //修改密码
    EditPassword(formName) {
      let that = this;
      that.$refs[formName].validate(valid => {
        if (valid) {
          that.loading2 = true;
          editPassword({
            oldPassword: that.ruleForm.checkPass,
            password: that.ruleForm.newPass
          })
            .then(res => {
              that.loading2 = false;
              if (res.data.ret == 1) {
                that.$message.success("修改密码成功");
                that.dialogVisible = false;
                that.$router.push({
                  path: "/index"
                });
              } else {
                that.$message.error(res.data.msg);
              }
            })
            .catch(err => {
              that.loading2 = false;
              that.dialogVisible = false;
              that.$message.error("修改密码失败，请稍后重试");
            });
        }
      });
    }
  }
};
</script>
<style scoped src="../../css/login/login.css">
</style>