<template>
    <div class="content">
        这里是销售订单查询页面
    </div>
</template>
<script>
export default {
    data(){
        return{

        }
    },
    created() {
        
    },
    methods: {
        
    }
}
</script>
<style scoped src="../../css/myInfo/sellOrder.css">
    
</style>